In [1]:
import pandas as pd
import numpy as np
NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import plotly.express as px
pd.set_option('max_colwidth', None)
from ckanapi import RemoteCKAN
import nest_asyncio
nest_asyncio.apply()
import requests

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the Pyobistools biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Command to install Pyobistools (currently not hosted on Pypi)
+ pip install git+https://github.com/cioos-siooc/pyobistools@main#egg=pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobistools' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

Load different types of DWC files:

In [9]:
occurrence_core =      pd.read_csv('https://catalogue.ogsl.ca/data/ncc/ca-cioos_b52bb8be-d225-442c-94ab-6f107a64b8a6/saint_john_river_saltmarshes_species-occurrence_2021.csv')
occurrence_extension = pd.read_csv('https://catalogue.ogsl.ca/data/ismer/ca-cioos_0edfc94f-06d0-4823-84ef-df91e6c11fe6/ismer_occurrence_endofaune_cote-nord_2009.csv')
occurrence_extension.head(3)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation

Try the check_scientificname_and_ids function:

In [17]:
check_scientificname_and_ids(occurrence_core, 'names')

11 : 204: Worms Chelone glabra
7 : 200: Worms Spergularia marina
21 : 204: Worms Viburnum opulus
16 : 204: Worms Alnus alnobetula
3 : 200: Worms Jacobaea vulgaris
2 : 204: Worms Alnus incana
1 : 200: Worms Rumex
19 : 200: Worms Sagittaria latifolia
17 : 200: Worms Thuja occidentalis
9 : 204: Worms Scirpus microcarpus
30 : 204: Worms Hylaeus
29 : 204: Worms Thalictrum pubescens
33 : 200: Worms Agrostis gigantea
24 : 204: Worms Berberis thunbergii
25 : 204: Worms Echinocystis lobata
13 : 204: Worms Arisaema triphyllum
4 : 200: Worms Eleocharis palustris
0 : 204: Worms Lycopus uniflorus
15 : 200: Worms Zizania
12 : 200: Worms Osmunda claytoniana
8 : 200: Worms Ulva intestinalis
23 : 200: Worms Nuphar
18 : 204: Worms Acer rubrum
6 : 204: Worms Persicaria maculosa
27 : 200: Worms Galium mollugo
5 : 204: Worms Fraxinus
20 : 204: Worms Halerpestes cymbalaria
14 : 200: Worms Galium
10 : 200: Worms Stuckenia pectinata
35 : 204: Worms Cornus sericea
26 : 204: Worms Phalaris arundinacea
22 : 200: Worms Erechtites hieraciifolius
36 : 200: Worms Calidris minutilla
28 : 204: Worms Hypericum perforatum
37 : 200: Worms Cirsium

               Dataset Values  Validation Database values            \
               scientificname Exact_Match         TaxonID    Status
0        Phalaris arundinacea      Non/no
101                  Lonicera      Non/no
99          Betula papyrifera      Non/no
98   Scutellaria galericulata      Non/no
97                   Rosaceae      Non/no
..                        ...         ...             ...       ...
100                   Zizania     Oui/Yes         1435876  accepted
109        Thuja occidentalis     Oui/Yes         1634575  accepted
17          Jacobaea vulgaris     Oui/Yes         1111153  accepted
125                    Nuphar     Oui/Yes         1415721  accepted
10       Eleocharis palustris     Oui/Yes          593121  accepted

                                                                   \
    Unacceptreason Taxon_Rank Valid_TaxonID            Valid_Name
0
101
99
98
97
..             ...        ...           ...                   ...
100           None      Genus       1435876               Zizania
109           None    Species       1634575    Thuja occidentalis
17            None    Species       1111153     Jacobaea vulgaris
125           None      Genus       1415721                Nuphar
10            None    Species        593121  Eleocharis palustris


                                           LSID
0
101
99
98
97
..                                          ...
100  urn:lsid:marinespecies.org:taxname:1435876
109  urn:lsid:marinespecies.org:taxname:1634575
17   urn:lsid:marinespecies.org:taxname:1111153
125  urn:lsid:marinespecies.org:taxname:1415721
10    urn:lsid:marinespecies.org:taxname:593121

[145 rows x 9 columns]

In [19]:
check_scientificname_and_ids(occurrence_extension, 'names').head()

16 : 200: Worms Mesodesma arctatum
1 : 200: Worms Eteone longa
8 : 200: Worms Hydrobia minuta
4 : 200: Worms Leucon nasicoides
17 : 200: Worms Oediceros borealis
6 : 200: Worms Nereis diversicolor
10 : 200: Worms Gammarus oceanicus
12 : 200: Worms Microspio
18 : 200: Worms Macoma balthica
3 : 200: Worms Littorina obtusata
14 : 200: Worms Psammonyx nobilis
15 : 200: Worms Oligochaeta
2 : 200: Worms Littorina saxatilis
7 : 200: Worms Nephtys ciliata
13 : 200: Worms Idotea balthica
9 : 200: Worms Mya arenaria
11 : 200: Worms Mytilus edulis
5 : 200: Worms Nematoda

         Dataset Values  Validation Database values                            \
         scientificname Exact_Match         TaxonID                    Status
2     Leucon nasicoides      Non/no          148682  alternate representation
4     Psammonyx nobilis      Non/no          158140                unaccepted
8   Nereis diversicolor      Non/no          340537                   deleted
11      Hydrobia minuta      Non/no          152020                unaccepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
2                       None    Species        110619
4   superseded recombination    Species       1255501
8       AphiaID resurrection       None        152302
11          preoccupied name    Species        574096
0                       None    Species        156805


                    Valid_Name                                       LSID
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805

In [20]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1.head()

0 : 204: Worms Lycopus uniflorus
1 : 200: Worms Rumex
5 : 204: Worms Fraxinus
2 : 204: Worms Alnus incana
13 : 204: Worms Arisaema triphyllum
6 : 204: Worms Persicaria maculosa
17 : 200: Worms Thuja occidentalis
18 : 204: Worms Acer rubrum
15 : 200: Worms Zizania
23 : 200: Worms Nuphar
8 : 200: Worms Ulva intestinalis
16 : 204: Worms Alnus alnobetula
7 : 200: Worms Spergularia marina
14 : 200: Worms Galium
20 : 204: Worms Halerpestes cymbalaria
11 : 204: Worms Chelone glabra
50 : 204: Worms Cornus rugosa
3 : 200: Worms Jacobaea vulgaris
42 : 204: Worms Scutellaria lateriflora
38 : 200: Worms Centaurea jacea
55 : 200: Worms Rosa
58 : 200: Worms Symphyotrichum
59 : 204: Worms Epalpus signifer
57 : 200: Worms Vicia cracca
4 : 200: Worms Eleocharis palustris
9 : 204: Worms Scirpus microcarpus
51 : 204: Worms Alisma triviale
71 : 204: Worms Solanum dulcamara
12 : 200: Worms Osmunda claytoniana
66 : 200: Worms Castor canadensis
54 : 204: Worms Reynoutria japonica
65 : 204: Worms Lysimachia ciliata
60 : 204: Worms Thelypteris palustris
63 : 200: Worms Polistes fuscatus
68 : 204: Worms Sorbus
30 : 204: Worms Hylaeus
22 : 200: Worms Erechtites hieraciifolius
24 : 204: Worms Berberis thunbergii
87 : 204: Worms Sium suave
34 : 204: Worms Quercus rubra
25 : 204: Worms Echinocystis lobata
21 : 204: Worms Viburnum opulus
107 : 204: Worms Stachys palustris
98 : 204: Worms Matteuccia struthiopteris
86 : 204: Worms Dasiphora fruticosa
19 : 200: Worms Sagittaria latifolia
29 : 204: Worms Thalictrum pubescens
70 : 204: Worms Rhagonycha fulva
32 : 200: Worms Leucanthemum vulgare
77 : 200: Worms Persicaria
10 : 200: Worms Stuckenia pectinata
84 : 204: Worms Iris versicolor
35 : 204: Worms Cornus sericea
102 : 200: Worms Tanacetum vulgare
37 : 200: Worms Cirsium
26 : 204: Worms Phalaris arundinacea
99 : 200: Worms Scirpus
27 : 200: Worms Galium mollugo
90 : 204: Worms Fraxinus pennsylvanica
83 : 204: Worms Iris hookeri
82 : 200: Worms Asteraceae
94 : 200: Worms Myriophyllum spicatum
95 : 200: Worms Bidens
28 : 204: Worms Hypericum perforatum
115 : 204: Worms Spiraea alba
33 : 200: Worms Agrostis gigantea
31 : 200: Worms Vicia
119 : 204: Worms Stellaria graminea
48 : 200: Worms Sonchus arvensis
110 : 200: Worms Lythrum salicaria
116 : 204: Worms Persicaria amphibia
39 : 200: Worms Poaceae
44 : 200: Worms Elodea canadensis
113 : 204: Worms Persicaria sagittata
91 : 200: Worms Salix
114 : 204: Worms Betula papyrifera
40 : 200: Worms Ranunculus repens
123 : 204: Worms Sporobolus michauxianus
111 : 200: Worms Raphanus raphanistrum
97 : 204: Worms Convallaria majalis
103 : 204: Worms Lysimachia maritima
117 : 200: Worms Tussilago farfara
101 : 204: Worms Euphorbia maculata
36 : 200: Worms Calidris minutilla
106 : 204: Worms Myrica gale
120 : 200: Worms Juncus
108 : 200: Worms Chenopodium album
46 : 200: Worms Cirsium arvense
41 : 200: Worms Carex
112 : 200: Worms Cichorieae
105 : 200: Worms Bryophyta
45 : 200: Worms Tanacetum
104 : 200: Worms Lonicera
43 : 200: Worms Plantago
100 : 200: Worms Elymus virginicus
126 : 204: Worms Carex pallescens
96 : 204: Worms Acorus americanus
122 : 204: Worms Frangula alnus
72 : 200: Worms Ruppia maritima
118 : 204: Worms Mentha canadensis
136 : 200: Worms Senecio viscosus
56 : 200: Worms Doellingeria umbellata
134 : 200: Worms Schoenoplectus tabernaemontani
131 : 204: Worms Ilex verticillata
128 : 200: Worms Juncus gerardii
130 : 204: Worms Scutellaria galericulata
132 : 200: Worms Rubus
74 : 204: Worms Hylotelephium telephium
73 : 204: Worms Crataegus
69 : 200: Worms Euthamia
129 : 200: Worms Eleocharis uniglumis
121 : 204: Worms Amphicarpaea bracteata
133 : 200: Worms Osmunda spectabilis
127 : 200: Worms Typha latifolia
67 : 204: Worms Apocynum cannabinum
61 : 200: Worms Anthoxanthum odoratum
76 : 200: Worms Eutrochium maculatum
78 : 204: Worms Calystegia sepium
79 : 200: Worms Tracheophyta
135 : 200: Worms Schoenoplectus
53 : 200: Worms Typha
49 : 200: Worms Senecio
80 : 204: Worms Schoenoplectus pungens
125 : 204: Worms Lysimachia terrestris
75 : 204: Worms Pastinaca sativa
62 : 200: Worms Larus argentatus
109 : 200: Worms Xanthium strumarium
47 : 204: Worms Linaria vulgaris
52 : 204: Worms Argentina anserina
64 : 204: Worms Impatiens capensis
124 : 200: Worms Rosaceae
141 : 204: Worms Harmonia axyridis
137 : 200: Worms Plantago major
93 : 200: Worms Liliopsida
144 : 200: Worms Oenothera
81 : 200: Worms Cichorium intybus
138 : 200: Worms Onoclea sensibilis
88 : 200: Worms Glyceria
140 : 200: Worms Cyperaceae
139 : 204: Worms Oxybasis rubra
85 : 204: Worms Hypericum mutilum
143 : 200: Worms Megaceryle alcyon
142 : 204: Worms Prunella vulgaris
89 : 200: Worms Centaurea nigra
92 : 204: Worms Athyrium angustum

              Dataset Values  Validation Database values         \
              scientificname Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no


    Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
110
63
112
60

In [21]:
table2.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                        Dataset Values  \
  scientificNameID_Validation           ScientificName
0                      Non/No     Phalaris arundinacea
1                      Non/No  Sporobolus michauxianus
2                      Non/No   Schoenoplectus pungens

                                      Database values
                     ScientificNameID      Valid_Name LSID
0    urn:lsid:itis.gov:itis_tsn:41335
1  urn:lsid:ipni.org:names:77145291-1
2   urn:lsid:itis.gov:itis_tsn:508146

In [22]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')

0 : 204: Worms Lycopus uniflorus
5 : 204: Worms Fraxinus
8 : 200: Worms Ulva intestinalis
7 : 200: Worms Spergularia marina
11 : 204: Worms Chelone glabra
2 : 204: Worms Alnus incana
9 : 204: Worms Scirpus microcarpus
23 : 200: Worms Nuphar
20 : 204: Worms Halerpestes cymbalaria
6 : 204: Worms Persicaria maculosa
10 : 200: Worms Stuckenia pectinata
3 : 200: Worms Jacobaea vulgaris
13 : 204: Worms Arisaema triphyllum
16 : 204: Worms Alnus alnobetula
15 : 200: Worms Zizania
18 : 204: Worms Acer rubrum
4 : 200: Worms Eleocharis palustris
17 : 200: Worms Thuja occidentalis
1 : 200: Worms Rumex
14 : 200: Worms Galium
25 : 204: Worms Echinocystis lobata
76 : 200: Worms Eutrochium maculatum
75 : 204: Worms Pastinaca sativa
24 : 204: Worms Berberis thunbergii
77 : 200: Worms Persicaria
26 : 204: Worms Phalaris arundinacea
30 : 204: Worms Hylaeus
71 : 204: Worms Solanum dulcamara
65 : 204: Worms Lysimachia ciliata
27 : 200: Worms Galium mollugo
60 : 204: Worms Thelypteris palustris
22 : 200: Worms Erechtites hieraciifolius
12 : 200: Worms Osmunda claytoniana
73 : 204: Worms Crataegus
21 : 204: Worms Viburnum opulus
79 : 200: Worms Tracheophyta
78 : 204: Worms Calystegia sepium
70 : 204: Worms Rhagonycha fulva
62 : 200: Worms Larus argentatus
74 : 204: Worms Hylotelephium telephium
68 : 204: Worms Sorbus
29 : 204: Worms Thalictrum pubescens
67 : 204: Worms Apocynum cannabinum
66 : 200: Worms Castor canadensis
28 : 204: Worms Hypericum perforatum
19 : 200: Worms Sagittaria latifolia
39 : 200: Worms Poaceae
41 : 200: Worms Carex
35 : 204: Worms Cornus sericea
40 : 200: Worms Ranunculus repens
37 : 200: Worms Cirsium
83 : 204: Worms Iris hookeri
32 : 200: Worms Leucanthemum vulgare
38 : 200: Worms Centaurea jacea
45 : 200: Worms Tanacetum
82 : 200: Worms Asteraceae
34 : 204: Worms Quercus rubra
36 : 200: Worms Calidris minutilla
31 : 200: Worms Vicia
33 : 200: Worms Agrostis gigantea
113 : 204: Worms Persicaria sagittata
108 : 200: Worms Chenopodium album
58 : 200: Worms Symphyotrichum
50 : 204: Worms Cornus rugosa
122 : 204: Worms Frangula alnus
44 : 200: Worms Elodea canadensis
48 : 200: Worms Sonchus arvensis
61 : 200: Worms Anthoxanthum odoratum
63 : 200: Worms Polistes fuscatus
52 : 204: Worms Argentina anserina
99 : 200: Worms Scirpus
47 : 204: Worms Linaria vulgaris
43 : 200: Worms Plantago
49 : 200: Worms Senecio
51 : 204: Worms Alisma triviale
64 : 204: Worms Impatiens capensis
46 : 200: Worms Cirsium arvense
42 : 204: Worms Scutellaria lateriflora
57 : 200: Worms Vicia cracca
54 : 204: Worms Reynoutria japonica
55 : 200: Worms Rosa
106 : 204: Worms Myrica gale
53 : 200: Worms Typha
56 : 200: Worms Doellingeria umbellata
59 : 204: Worms Epalpus signifer
120 : 200: Worms Juncus
81 : 200: Worms Cichorium intybus
114 : 204: Worms Betula papyrifera
121 : 204: Worms Amphicarpaea bracteata
129 : 200: Worms Eleocharis uniglumis
111 : 200: Worms Raphanus raphanistrum
124 : 200: Worms Rosaceae
117 : 200: Worms Tussilago farfara
128 : 200: Worms Juncus gerardii
127 : 200: Worms Typha latifolia
69 : 200: Worms Euthamia
123 : 204: Worms Sporobolus michauxianus
80 : 204: Worms Schoenoplectus pungens
72 : 200: Worms Ruppia maritima
115 : 204: Worms Spiraea alba
112 : 200: Worms Cichorieae
119 : 204: Worms Stellaria graminea
125 : 204: Worms Lysimachia terrestris
130 : 204: Worms Scutellaria galericulata
116 : 204: Worms Persicaria amphibia
118 : 204: Worms Mentha canadensis
110 : 200: Worms Lythrum salicaria
97 : 204: Worms Convallaria majalis
138 : 200: Worms Onoclea sensibilis
126 : 204: Worms Carex pallescens
142 : 204: Worms Prunella vulgaris
144 : 200: Worms Oenothera
104 : 200: Worms Lonicera
98 : 204: Worms Matteuccia struthiopteris
101 : 204: Worms Euphorbia maculata
139 : 204: Worms Oxybasis rubra
88 : 200: Worms Glyceria
93 : 200: Worms Liliopsida
105 : 200: Worms Bryophyta
102 : 200: Worms Tanacetum vulgare
107 : 204: Worms Stachys palustris
141 : 204: Worms Harmonia axyridis
137 : 200: Worms Plantago major
91 : 200: Worms Salix
103 : 204: Worms Lysimachia maritima
135 : 200: Worms Schoenoplectus
131 : 204: Worms Ilex verticillata
134 : 200: Worms Schoenoplectus tabernaemontani
132 : 200: Worms Rubus
90 : 204: Worms Fraxinus pennsylvanica
92 : 204: Worms Athyrium angustum
143 : 200: Worms Megaceryle alcyon
133 : 200: Worms Osmunda spectabilis
94 : 200: Worms Myriophyllum spicatum
84 : 204: Worms Iris versicolor
96 : 204: Worms Acorus americanus
89 : 200: Worms Centaurea nigra
85 : 204: Worms Hypericum mutilum
136 : 200: Worms Senecio viscosus
87 : 204: Worms Sium suave
95 : 200: Worms Bidens
109 : 200: Worms Xanthium strumarium
140 : 200: Worms Cyperaceae
86 : 204: Worms Dasiphora fruticosa
100 : 200: Worms Elymus virginicus

In [23]:
table3

              Dataset Values  Validation Database values            \
              ScientificName Exact_Match         TaxonID    Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no
..                       ...         ...             ...       ...
54                  Plantago     Oui/Yes          382435  accepted
52     Raphanus raphanistrum     Oui/Yes          993765  accepted
50           Centaurea nigra     Oui/Yes         1114431  accepted
68         Polistes fuscatus     Oui/Yes         1490440  accepted
144               Cichorieae     Oui/Yes         1074862  accepted

                                                                    \
    Unacceptreason Taxon_Rank Valid_TaxonID             Valid_Name
0
110
63
112
60
..             ...        ...           ...                    ...
54            None      Genus        382435               Plantago
52            None    Species        993765  Raphanus raphanistrum
50            None    Species       1114431        Centaurea nigra
68            None    Species       1490440      Polistes fuscatus
144           None      Tribe       1074862             Cichorieae


                                           LSID
0
110
63
112
60
..                                          ...
54    urn:lsid:marinespecies.org:taxname:382435
52    urn:lsid:marinespecies.org:taxname:993765
50   urn:lsid:marinespecies.org:taxname:1114431
68   urn:lsid:marinespecies.org:taxname:1490440
144  urn:lsid:marinespecies.org:taxname:1074862

[145 rows x 9 columns]

In [24]:
table4.head()

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no
3  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-004                    Non/no
5  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-006                    Non/no

                                                             Dataset Values  \
  TaxonRank_Validation scientificNameID_Validation           ScientificName
0               Non/No                      Non/No     Phalaris arundinacea
1               Non/No                      Non/No  Sporobolus michauxianus
2               Non/No                      Non/No   Schoenoplectus pungens
3               Non/No                      Non/No           Oxybasis rubra
5               Non/No                      Non/No         Linaria vulgaris

                                                Database values             \
  TaxonRank                    ScientificNameID      Valid_Name Taxon_Rank
0   Species    urn:lsid:itis.gov:itis_tsn:41335
1   Species  urn:lsid:ipni.org:names:77145291-1
2   Species   urn:lsid:itis.gov:itis_tsn:508146
3   Species  urn:lsid:ipni.org:names:77121013-1
5   Species    urn:lsid:itis.gov:itis_tsn:33216


  LSID
0
1
2
3
5

Try the check_scientificname_and_ids function - itis_usage:

In [ ]:
# function can take a few minutes to process with 'itis_usage = True'
# uncomment following line to test the 'itis_usage' parameter
#check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()