In [1]:
import pandas as pd
import numpy as np
NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import plotly.express as px
pd.set_option('max_colwidth', None)
from ckanapi import RemoteCKAN
import nest_asyncio
nest_asyncio.apply()
import requests

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the PyObis biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Command to install PyObis (currently not hosted on Pypi)
+ pip install git+https://github.com/cioos-siooc/pyobistools@main#egg=pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobis' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

Load different types of DWC files:

In [2]:
occurrence_core =      pd.read_csv('https://catalogue.ogsl.ca/data/ncc/ca-cioos_b52bb8be-d225-442c-94ab-6f107a64b8a6/saint_john_river_saltmarshes_species-occurrence_2021.csv')
occurrence_extension = pd.read_csv('https://catalogue.ogsl.ca/data/ismer/ca-cioos_0edfc94f-06d0-4823-84ef-df91e6c11fe6/ismer_occurrence_endofaune_cote-nord_2009.csv')
occurrence_extension.head(3)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation

Try the check_scientificname_and_ids function:

In [3]:
check_scientificname_and_ids(occurrence_core, 'names').head()

2 : 200: Worms Bidens
6 : 204: Worms Cornus rugosa
12 : 204: Worms Stellaria graminea
3 : 204: Worms Viburnum opulus
9 : 204: Worms Halerpestes cymbalaria
10 : 204: Worms Persicaria sagittata
5 : 204: Worms Dasiphora fruticosa
11 : 204: Worms Lycopus uniflorus
0 : 204: Worms Mentha canadensis
28 : 204: Worms Epalpus signifer
21 : 200: Worms Juncus
19 : 204: Worms Thalictrum pubescens
16 : 200: Worms Typha
29 : 200: Worms Osmunda spectabilis
36 : 200: Worms Bryophyta
14 : 204: Worms Berberis thunbergii
7 : 200: Worms Lythrum salicaria
56 : 200: Worms Anthoxanthum odoratum
13 : 204: Worms Chelone glabra
1 : 200: Worms Tussilago farfara
4 : 200: Worms Liliopsida
22 : 204: Worms Frangula alnus
8 : 200: Worms Galium mollugo
55 : 204: Worms Betula papyrifera
25 : 204: Worms Alisma triviale
20 : 204: Worms Apocynum cannabinum
24 : 204: Worms Amphicarpaea bracteata
23 : 204: Worms Fraxinus
68 : 204: Worms Athyrium angustum
80 : 204: Worms Scutellaria lateriflora
26 : 204: Worms Lysimachia terrestris
59 : 200: Worms Sagittaria latifolia
74 : 204: Worms Reynoutria japonica
47 : 200: Worms Schoenoplectus tabernaemontani
73 : 204: Worms Sporobolus michauxianus
130 : 204: Worms Stachys palustris
57 : 204: Worms Cornus sericea
27 : 204: Worms Hylotelephium telephium
67 : 200: Worms Ranunculus repens
15 : 200: Worms Castor canadensis
31 : 204: Worms Pastinaca sativa
65 : 200: Worms Poaceae
53 : 200: Worms Agrostis gigantea
85 : 204: Worms Echinocystis lobata
78 : 204: Worms Carex pallescens
18 : 200: Worms Plantago major
123 : 204: Worms Rhagonycha fulva
106 : 204: Worms Solanum dulcamara
69 : 204: Worms Matteuccia struthiopteris
75 : 204: Worms Acer rubrum
91 : 200: Worms Ulva intestinalis
71 : 204: Worms Scirpus microcarpus
35 : 204: Worms Thelypteris palustris
70 : 204: Worms Schoenoplectus pungens
108 : 204: Worms Lysimachia ciliata
89 : 204: Worms Hypericum mutilum
60 : 200: Worms Tanacetum
52 : 204: Worms Iris versicolor
102 : 204: Worms Persicaria maculosa
81 : 204: Worms Lysimachia maritima
93 : 204: Worms Harmonia axyridis
88 : 200: Worms Nuphar
142 : 204: Worms Ilex verticillata
119 : 204: Worms Iris hookeri
135 : 204: Worms Quercus rubra
64 : 200: Worms Jacobaea vulgaris
76 : 200: Worms Lonicera
131 : 204: Worms Acorus americanus
121 : 200: Worms Eleocharis uniglumis
63 : 200: Worms Myriophyllum spicatum
137 : 200: Worms Rumex
94 : 204: Worms Sium suave
98 : 204: Worms Alnus incana
101 : 204: Worms Linaria vulgaris
66 : 204: Worms Sorbus
95 : 204: Worms Alnus alnobetula
128 : 204: Worms Myrica gale
143 : 200: Worms Salix
17 : 200: Worms Centaurea nigra
49 : 204: Worms Impatiens capensis
84 : 204: Worms Arisaema triphyllum
103 : 200: Worms Symphyotrichum
113 : 204: Worms Phalaris arundinacea
92 : 204: Worms Convallaria majalis
51 : 200: Worms Schoenoplectus
54 : 200: Worms Scirpus
83 : 200: Worms Rosaceae
122 : 200: Worms Cichorieae
127 : 204: Worms Prunella vulgaris
61 : 200: Worms Rosa
72 : 200: Worms Centaurea jacea
126 : 204: Worms Hylaeus
125 : 200: Worms Chenopodium album
140 : 200: Worms Erechtites hieraciifolius
136 : 204: Worms Crataegus
50 : 200: Worms Elodea canadensis
134 : 204: Worms Spiraea alba
118 : 200: Worms Elymus virginicus
86 : 204: Worms Argentina anserina
133 : 200: Worms Asteraceae
100 : 200: Worms Zizania
144 : 200: Worms Polistes fuscatus
129 : 204: Worms Fraxinus pennsylvanica
97 : 200: Worms Megaceryle alcyon
96 : 200: Worms Plantago
117 : 200: Worms Cirsium arvense
132 : 200: Worms Stuckenia pectinata
109 : 200: Worms Cyperaceae
82 : 200: Worms Galium
79 : 200: Worms Eutrochium maculatum
124 : 200: Worms Leucanthemum vulgare
110 : 200: Worms Eleocharis palustris
141 : 200: Worms Euthamia
111 : 200: Worms Cirsium
139 : 200: Worms Xanthium strumarium
107 : 200: Worms Calidris minutilla
138 : 200: Worms Typha latifolia
90 : 200: Worms Ruppia maritima
105 : 200: Worms Senecio viscosus
104 : 200: Worms Raphanus raphanistrum
120 : 200: Worms Oenothera
87 : 200: Worms Onoclea sensibilis
77 : 200: Worms Carex
62 : 200: Worms Tanacetum vulgare
116 : 200: Worms Spergularia marina
99 : 200: Worms Doellingeria umbellata
112 : 200: Worms Rubus
58 : 200: Worms Juncus gerardii
39 : 204: Worms Scutellaria galericulata
37 : 200: Worms Larus argentatus
40 : 200: Worms Thuja occidentalis
43 : 200: Worms Vicia
114 : 200: Worms Cichorium intybus
32 : 200: Worms Glyceria
45 : 204: Worms Calystegia sepium
44 : 204: Worms Hypericum perforatum
41 : 200: Worms Tracheophyta
30 : 200: Worms Sonchus arvensis
42 : 204: Worms Oxybasis rubra
33 : 204: Worms Persicaria amphibia
48 : 200: Worms Persicaria
38 : 200: Worms Vicia cracca
46 : 200: Worms Osmunda claytoniana
34 : 204: Worms Euphorbia maculata
115 : 200: Worms Senecio

              Dataset Values  Validation Database values         \
              scientificname Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no


    Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
110
63
112
60

In [5]:
check_scientificname_and_ids(occurrence_extension, 'names').head()

8 : 200: Worms Mesodesma arctatum
11 : 200: Worms Mya arenaria
14 : 200: Worms Nephtys ciliata
15 : 200: Worms Mytilus edulis
9 : 200: Worms Eteone longa
18 : 200: Worms Nereis diversicolor
13 : 200: Worms Macoma balthica
3 : 200: Worms Littorina saxatilis
5 : 200: Worms Gammarus oceanicus
1 : 200: Worms Oediceros borealis
6 : 200: Worms Idotea balthica
12 : 200: Worms Nematoda
2 : 200: Worms Psammonyx nobilis
7 : 200: Worms Oligochaeta
4 : 200: Worms Hydrobia minuta

         Dataset Values  Validation Database values              \
         scientificname Exact_Match         TaxonID      Status
2     Leucon nasicoides      Non/no
4     Psammonyx nobilis      Non/no          158140  unaccepted
12   Littorina obtusata      Non/no
8   Nereis diversicolor      Non/no          340537     deleted
11      Hydrobia minuta      Non/no          152020  unaccepted

                                                                             \
              Unacceptreason Taxon_Rank Valid_TaxonID            Valid_Name
2
4   superseded recombination    Species       1255501     Wecomedon nobilis
12
8       AphiaID resurrection       None        152302  Hediste diversicolor
11          preoccupied name    Species        574096      Ecrobia truncata


                                         LSID
2
4   urn:lsid:marinespecies.org:taxname:158140
12
8   urn:lsid:marinespecies.org:taxname:340537
11  urn:lsid:marinespecies.org:taxname:152020

In [6]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1.head(3)

123 : 204: Worms Rhagonycha fulva
50 : 200: Worms Elodea canadensis
65 : 200: Worms Poaceae
111 : 200: Worms Cirsium
46 : 200: Worms Osmunda claytoniana
42 : 204: Worms Oxybasis rubra
138 : 200: Worms Typha latifolia
142 : 204: Worms Ilex verticillata
43 : 200: Worms Vicia
102 : 204: Worms Persicaria maculosa
51 : 200: Worms Schoenoplectus
26 : 204: Worms Lysimachia terrestris
52 : 204: Worms Iris versicolor
44 : 204: Worms Hypericum perforatum
60 : 200: Worms Tanacetum
18 : 200: Worms Plantago major
54 : 200: Worms Scirpus
73 : 204: Worms Sporobolus michauxianus
64 : 200: Worms Jacobaea vulgaris
57 : 204: Worms Cornus sericea
48 : 200: Worms Persicaria
47 : 200: Worms Schoenoplectus tabernaemontani
103 : 200: Worms Symphyotrichum
35 : 204: Worms Thelypteris palustris
94 : 204: Worms Sium suave
110 : 200: Worms Eleocharis palustris
104 : 200: Worms Raphanus raphanistrum
74 : 204: Worms Reynoutria japonica
97 : 200: Worms Megaceryle alcyon
53 : 200: Worms Agrostis gigantea
81 : 204: Worms Lysimachia maritima
61 : 200: Worms Rosa
139 : 200: Worms Xanthium strumarium
45 : 204: Worms Calystegia sepium
59 : 200: Worms Sagittaria latifolia
49 : 204: Worms Impatiens capensis
62 : 200: Worms Tanacetum vulgare
80 : 204: Worms Scutellaria lateriflora

              Dataset Values  Validation Database values         \
              scientificname Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
99         Betula papyrifera      Non/no
98  Scutellaria galericulata      Non/no


   Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
99
98

In [7]:
table2.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                        Dataset Values  \
  scientificNameID_Validation           ScientificName
0                      Non/No     Phalaris arundinacea
1                      Non/No  Sporobolus michauxianus
2                      Non/No   Schoenoplectus pungens

                                      Database values
                     ScientificNameID      Valid_Name LSID
0    urn:lsid:itis.gov:itis_tsn:41335
1  urn:lsid:ipni.org:names:77145291-1
2   urn:lsid:itis.gov:itis_tsn:508146

In [8]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')
table3.head(3)

9 : 204: Worms Halerpestes cymbalaria
3 : 204: Worms Viburnum opulus
0 : 204: Worms Mentha canadensis
18 : 200: Worms Plantago major
13 : 204: Worms Chelone glabra
8 : 200: Worms Galium mollugo
17 : 200: Worms Centaurea nigra
10 : 204: Worms Persicaria sagittata
23 : 204: Worms Fraxinus
4 : 200: Worms Liliopsida
5 : 204: Worms Dasiphora fruticosa
11 : 204: Worms Lycopus uniflorus
14 : 204: Worms Berberis thunbergii
22 : 204: Worms Frangula alnus
27 : 204: Worms Hylotelephium telephium
20 : 204: Worms Apocynum cannabinum
2 : 200: Worms Bidens
1 : 200: Worms Tussilago farfara
15 : 200: Worms Castor canadensis
7 : 200: Worms Lythrum salicaria
6 : 204: Worms Cornus rugosa
24 : 204: Worms Amphicarpaea bracteata
12 : 204: Worms Stellaria graminea
31 : 204: Worms Pastinaca sativa
25 : 204: Worms Alisma triviale
26 : 204: Worms Lysimachia terrestris
16 : 200: Worms Typha
21 : 200: Worms Juncus
37 : 200: Worms Larus argentatus
53 : 200: Worms Agrostis gigantea
30 : 200: Worms Sonchus arvensis
28 : 204: Worms Epalpus signifer
19 : 204: Worms Thalictrum pubescens
32 : 200: Worms Glyceria
29 : 200: Worms Osmunda spectabilis
40 : 200: Worms Thuja occidentalis
34 : 204: Worms Euphorbia maculata
45 : 204: Worms Calystegia sepium
39 : 204: Worms Scutellaria galericulata
42 : 204: Worms Oxybasis rubra
36 : 200: Worms Bryophyta
35 : 204: Worms Thelypteris palustris
33 : 204: Worms Persicaria amphibia
52 : 204: Worms Iris versicolor
49 : 204: Worms Impatiens capensis
51 : 200: Worms Schoenoplectus
46 : 200: Worms Osmunda claytoniana
48 : 200: Worms Persicaria
56 : 200: Worms Anthoxanthum odoratum
65 : 200: Worms Poaceae
43 : 200: Worms Vicia
41 : 200: Worms Tracheophyta
50 : 200: Worms Elodea canadensis
55 : 204: Worms Betula papyrifera
38 : 200: Worms Vicia cracca
62 : 200: Worms Tanacetum vulgare
128 : 204: Worms Myrica gale
74 : 204: Worms Reynoutria japonica
59 : 200: Worms Sagittaria latifolia
93 : 204: Worms Harmonia axyridis
78 : 204: Worms Carex pallescens
70 : 204: Worms Schoenoplectus pungens
76 : 200: Worms Lonicera
102 : 204: Worms Persicaria maculosa
64 : 200: Worms Jacobaea vulgaris
80 : 204: Worms Scutellaria lateriflora
57 : 204: Worms Cornus sericea
69 : 204: Worms Matteuccia struthiopteris
67 : 200: Worms Ranunculus repens
58 : 200: Worms Juncus gerardii
132 : 200: Worms Stuckenia pectinata
130 : 204: Worms Stachys palustris
104 : 200: Worms Raphanus raphanistrum
60 : 200: Worms Tanacetum
81 : 204: Worms Lysimachia maritima
135 : 204: Worms Quercus rubra
137 : 200: Worms Rumex
66 : 204: Worms Sorbus
61 : 200: Worms Rosa
71 : 204: Worms Scirpus microcarpus
47 : 200: Worms Schoenoplectus tabernaemontani
91 : 200: Worms Ulva intestinalis
86 : 204: Worms Argentina anserina
79 : 200: Worms Eutrochium maculatum
120 : 200: Worms Oenothera
112 : 200: Worms Rubus
77 : 200: Worms Carex
116 : 200: Worms Spergularia marina
72 : 200: Worms Centaurea jacea
44 : 204: Worms Hypericum perforatum
88 : 200: Worms Nuphar
73 : 204: Worms Sporobolus michauxianus
106 : 204: Worms Solanum dulcamara
54 : 200: Worms Scirpus
84 : 204: Worms Arisaema triphyllum
109 : 200: Worms Cyperaceae
115 : 200: Worms Senecio
117 : 200: Worms Cirsium arvense
89 : 204: Worms Hypericum mutilum
90 : 200: Worms Ruppia maritima
99 : 200: Worms Doellingeria umbellata
85 : 204: Worms Echinocystis lobata
97 : 200: Worms Megaceryle alcyon
75 : 204: Worms Acer rubrum
103 : 200: Worms Symphyotrichum
100 : 200: Worms Zizania
95 : 204: Worms Alnus alnobetula
63 : 200: Worms Myriophyllum spicatum
83 : 200: Worms Rosaceae
133 : 200: Worms Asteraceae
87 : 200: Worms Onoclea sensibilis
108 : 204: Worms Lysimachia ciliata
101 : 204: Worms Linaria vulgaris
82 : 200: Worms Galium
68 : 204: Worms Athyrium angustum
92 : 204: Worms Convallaria majalis
94 : 204: Worms Sium suave
142 : 204: Worms Ilex verticillata
98 : 204: Worms Alnus incana
136 : 204: Worms Crataegus
118 : 200: Worms Elymus virginicus
110 : 200: Worms Eleocharis palustris
105 : 200: Worms Senecio viscosus
125 : 200: Worms Chenopodium album
107 : 200: Worms Calidris minutilla
96 : 200: Worms Plantago
126 : 204: Worms Hylaeus
119 : 204: Worms Iris hookeri
124 : 200: Worms Leucanthemum vulgare
114 : 200: Worms Cichorium intybus

             Dataset Values  Validation Database values                        \
             ScientificName Exact_Match         TaxonID Status Unacceptreason
0      Phalaris arundinacea      Non/no
85           Frangula alnus      Non/no
84  Scutellaria lateriflora      Non/no


   Taxon_Rank Valid_TaxonID Valid_Name LSID
0
85
84

In [9]:
table4.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                                             Dataset Values  \
  TaxonRank_Validation scientificNameID_Validation           ScientificName
0               Non/No                      Non/No     Phalaris arundinacea
1               Non/No                      Non/No  Sporobolus michauxianus
2               Non/No                      Non/No   Schoenoplectus pungens

                                                Database values             \
  TaxonRank                    ScientificNameID      Valid_Name Taxon_Rank
0   Species    urn:lsid:itis.gov:itis_tsn:41335
1   Species  urn:lsid:ipni.org:names:77145291-1
2   Species   urn:lsid:itis.gov:itis_tsn:508146


  LSID
0
1
2

Try the check_scientificname_and_ids function - itis_usage:

In [10]:
check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()

12 : 204: Worms Stellaria graminea
24 : 204: Worms Amphicarpaea bracteata
11 : 204: Worms Lycopus uniflorus
31 : 204: Worms Pastinaca sativa
28 : 204: Worms Epalpus signifer
0 : 204: Worms Mentha canadensis
26 : 204: Worms Lysimachia terrestris
14 : 204: Worms Berberis thunbergii
25 : 204: Worms Alisma triviale
13 : 204: Worms Chelone glabra
27 : 204: Worms Hylotelephium telephium
3 : 204: Worms Viburnum opulus
9 : 204: Worms Halerpestes cymbalaria
19 : 204: Worms Thalictrum pubescens
1 : 200: Worms Tussilago farfara
15 : 200: Worms Castor canadensis
2 : 200: Worms Bidens
56 : 200: Worms Anthoxanthum odoratum
20 : 204: Worms Apocynum cannabinum
7 : 200: Worms Lythrum salicaria
40 : 200: Worms Thuja occidentalis
22 : 204: Worms Frangula alnus
4 : 200: Worms Liliopsida
21 : 200: Worms Juncus
47 : 200: Worms Schoenoplectus tabernaemontani
50 : 200: Worms Elodea canadensis
65 : 200: Worms Poaceae
33 : 204: Worms Persicaria amphibia
54 : 200: Worms Scirpus
70 : 204: Worms Schoenoplectus pungens
10 : 204: Worms Persicaria sagittata
49 : 204: Worms Impatiens capensis
38 : 200: Worms Vicia cracca
36 : 200: Worms Bryophyta
16 : 200: Worms Typha
6 : 204: Worms Cornus rugosa
35 : 204: Worms Thelypteris palustris
78 : 204: Worms Carex pallescens
68 : 204: Worms Athyrium angustum
63 : 200: Worms Myriophyllum spicatum
5 : 204: Worms Dasiphora fruticosa
44 : 204: Worms Hypericum perforatum
37 : 200: Worms Larus argentatus
64 : 200: Worms Jacobaea vulgaris
94 : 204: Worms Sium suave
115 : 200: Worms Senecio
75 : 204: Worms Acer rubrum
39 : 204: Worms Scutellaria galericulata
29 : 200: Worms Osmunda spectabilis
52 : 204: Worms Iris versicolor
109 : 200: Worms Cyperaceae
114 : 200: Worms Cichorium intybus
17 : 200: Worms Centaurea nigra
55 : 204: Worms Betula papyrifera
74 : 204: Worms Reynoutria japonica
72 : 200: Worms Centaurea jacea
23 : 204: Worms Fraxinus
117 : 200: Worms Cirsium arvense
48 : 200: Worms Persicaria
87 : 200: Worms Onoclea sensibilis
59 : 200: Worms Sagittaria latifolia
53 : 200: Worms Agrostis gigantea
93 : 204: Worms Harmonia axyridis
95 : 204: Worms Alnus alnobetula
100 : 200: Worms Zizania
51 : 200: Worms Schoenoplectus
41 : 200: Worms Tracheophyta
8 : 200: Worms Galium mollugo
43 : 200: Worms Vicia
32 : 200: Worms Glyceria
67 : 200: Worms Ranunculus repens
80 : 204: Worms Scutellaria lateriflora
18 : 200: Worms Plantago major
30 : 200: Worms Sonchus arvensis
73 : 204: Worms Sporobolus michauxianus
34 : 204: Worms Euphorbia maculata
96 : 200: Worms Plantago
42 : 204: Worms Oxybasis rubra
108 : 204: Worms Lysimachia ciliata
81 : 204: Worms Lysimachia maritima
104 : 200: Worms Raphanus raphanistrum
90 : 200: Worms Ruppia maritima
71 : 204: Worms Scirpus microcarpus
61 : 200: Worms Rosa
58 : 200: Worms Juncus gerardii
45 : 204: Worms Calystegia sepium
60 : 200: Worms Tanacetum
111 : 200: Worms Cirsium
57 : 204: Worms Cornus sericea
79 : 200: Worms Eutrochium maculatum
46 : 200: Worms Osmunda claytoniana
85 : 204: Worms Echinocystis lobata
77 : 200: Worms Carex
69 : 204: Worms Matteuccia struthiopteris
99 : 200: Worms Doellingeria umbellata
97 : 200: Worms Megaceryle alcyon
82 : 200: Worms Galium
119 : 204: Worms Iris hookeri
88 : 200: Worms Nuphar
116 : 200: Worms Spergularia marina
89 : 204: Worms Hypericum mutilum
83 : 200: Worms Rosaceae
103 : 200: Worms Symphyotrichum
62 : 200: Worms Tanacetum vulgare
91 : 200: Worms Ulva intestinalis
112 : 200: Worms Rubus
110 : 200: Worms Eleocharis palustris
101 : 204: Worms Linaria vulgaris
113 : 204: Worms Phalaris arundinacea
76 : 200: Worms Lonicera
107 : 200: Worms Calidris minutilla
92 : 204: Worms Convallaria majalis
98 : 204: Worms Alnus incana
120 : 200: Worms Oenothera
66 : 204: Worms Sorbus
86 : 204: Worms Argentina anserina
0 : 200: Itis Phalaris arundinacea
1 : 200: Itis Sporobolus michauxianus - Empty answer
2 : 200: Itis Schoenoplectus pungens
3 : 200: Itis Oxybasis rubra - Empty answer
5 : 200: Itis Linaria vulgaris
11 : 200: Itis Halerpestes cymbalaria
12 : 200: Itis Dasiphora fruticosa
13 : 200: Itis Chelone glabra
14 : 200: Itis Reynoutria japonica
22 : 200: Itis Impatiens capensis
25 : 200: Itis Sium suave
26 : 200: Itis Amphicarpaea bracteata
28 : 200: Itis Berberis thunbergii
29 : 200: Itis Mentha canadensis
30 : 200: Itis Carex pallescens
31 : 200: Itis Athyrium angustum
33 : 200: Itis Alnus incana
39 : 200: Itis Argentina anserina
46 : 200: Itis Convallaria majalis
49 : 200: Itis Alnus alnobetula
51 : 200: Itis Iris hookeri
56 : 200: Itis Calystegia sepium
58 : 200: Itis Euphorbia maculata
59 : 200: Itis Thelypteris palustris
60 : 200: Itis Thalictrum pubescens
63 : 200: Itis Hylotelephium telephium
66 : 200: Itis Epalpus signifer
70 : 200: Itis Hypericum perforatum
71 : 200: Itis Stellaria graminea
75 : 200: Itis Lysimachia maritima
78 : 200: Itis Harmonia axyridis
79 : 200: Itis Echinocystis lobata
81 : 200: Itis Scirpus microcarpus
84 : 200: Itis Scutellaria lateriflora
85 : 200: Itis Frangula alnus
89 : 200: Itis Apocynum cannabinum
92 : 200: Itis Lysimachia terrestris
93 : 200: Itis Lycopus uniflorus
98 : 200: Itis Scutellaria galericulata
99 : 200: Itis Betula papyrifera
108 : 200: Itis Persicaria amphibia
110 : 200: Itis Cornus sericea
112 : 200: Itis Cornus rugosa
114 : 200: Itis Pastinaca sativa
115 : 200: Itis Alisma triviale
116 : 200: Itis Sorbus
121 : 200: Itis Persicaria sagittata
122 : 200: Itis Lysimachia ciliata
123 : 200: Itis Matteuccia struthiopteris
124 : 200: Itis Fraxinus
126 : 200: Itis Viburnum opulus
127 : 200: Itis Acer rubrum
132 : 200: Itis Iris versicolor
137 : 200: Itis Hypericum mutilum

          Dataset Values  Validation Database values                        \
          scientificname Exact_Match         TaxonID Status Unacceptreason
144           Cichorieae      Non/no
20   Arisaema triphyllum      Non/no
143  Stuckenia pectinata      Non/no
91          Spiraea alba      Non/no
23     Stachys palustris      Non/no


    Taxon_Rank Valid_TaxonID Valid_Name LSID
144
20
143
91
23