In [12]:
import pandas as pd
import numpy as np
from ckanapi import RemoteCKAN

NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
from ckanapi import RemoteCKAN
import nest_asyncio
nest_asyncio.apply()
pd.set_option('max_colwidth', None)

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the Pyobistools biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Command to install Pyobistools (currently not hosted on Pypi)
+ pip install git+https://github.com/cioos-siooc/pyobistools@main#egg=pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobistools' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

##### Results
+ The validation section of the result tables will make a comparison of the scientific names, taxon tanks and scientificname IDs values coming from the dataset and the ones coming from the databases. If the comparison between the respectives columns shows that the values are the same, 'Oui/Yes' is displayed. Otherwise 'Non/No' is displayed.

Load different types of DWC files:

In [15]:
occurrence_core = pd.read_csv('test_occurrence_core_check_scientificname_and_ids.csv')
occurrence_core.head(5)

,datasetID,occurrenceID,eventDate,countryCode,location,decimalLatitude,decimalLongitude,accuracyInMeters,kingdom,commonName,...,acceptedNameUsage,acceptedNameUsageID,taxonID,taxon_id,iNaturalistID,taxonRank,occurrenceStatus,basisOfRecord,quality_grade,url
0,ABCD-2021,ABCD-001,2021-08-11 06:02:26,CA,Randolph Island,45.268169,-66.122442,8,Plantae,reed canary grass,...,Phalaris arundinacea,urn:lsid:itis.gov:itis_tsn:41335,https://www.gbif.org/species/5289756,63337,90776330,Species,present,HumanObservation,research,https://www.inaturalist.org/observations/90776330
1,ABCD-2021,ABCD-002,2021-08-11 06:03:12,CA,Randolph Island,45.268148,-66.122424,9,Plantae,prairie cordgrass,...,Sporobolus michauxianus,urn:lsid:ipni.org:names:77145291-1,https://www.gbif.org/species/9592414,772984,90776368,Species,present,HumanObservation,needs_id,https://www.inaturalist.org/observations/90776368
2,ABCD-2021,ABCD-003,2021-08-11 06:04:32,CA,Randolph Island,45.268140,-66.122220,8,Plantae,three-square bulrush,...,Schoenoplectus pungens,urn:lsid:itis.gov:itis_tsn:508146,https://www.gbif.org/species/2711190,59072,90776406,Species,present,HumanObservation,research,https://www.inaturalist.org/observations/90776406
3,ABCD-2021,ABCD-004,2021-08-11 06:07:02,CA,Randolph Island,45.268185,-66.122050,9,Plantae,red pigweed,...,Oxybasis rubra,urn:lsid:ipni.org:names:77121013-1,https://www.gbif.org/species/7725469,931679,90776443,Species,present,HumanObservation,needs_id,https://www.inaturalist.org/observations/90776443
4,ABCD-2021,ABCD-005,2021-08-11 06:08:36,CA,Randolph Island,45.268295,-66.121987,8,Plantae,rough cocklebur,...,Xanthium strumarium,urn:lsid:marinespecies.org:taxname:1092089,https://www.gbif.org/species/3089154,57920,90776465,Species,present,HumanObservation,research,https://www.inaturalist.org/observations/90776465

In [14]:
occurrence_extension = pd.read_csv('test_occurrence_extension_check_scientificname_and_ids.csv')
occurrence_extension.head(5)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_ABCD_BE10C1,0003_ABCD_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_ABCD_BE10C1,0003_ABCD_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_ABCD_BE10C2,0003_ABCD_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation
3,0003_ABCD_BE10C2,0003_ABCD_BE10C2_4,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,5,HumanObservation
4,0003_ABCD_BE10C2,0003_ABCD_BE10C2_5,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation

Try the check_scientificname_and_ids function:

In [16]:
check_scientificname_and_ids(occurrence_core, 'names')

21 : 204: Worms Lysimachia terrestris
35 : 204: Worms Mentha canadensis
25 : 200: Worms Tracheophyta
14 : 204: Worms Sium suave
40 : 204: Worms Prunella vulgaris
20 : 204: Worms Lysimachia ciliata
32 : 204: Worms Carex pallescens
49 : 204: Worms Hypericum mutilum
17 : 204: Worms Harmonia axyridis
10 : 204: Worms Alisma triviale
4 : 204: Worms Alnus alnobetula
7 : 204: Worms Acer rubrum
23 : 200: Worms Calidris minutilla
6 : 204: Worms Echinocystis lobata
22 : 200: Worms Polistes fuscatus
52 : 200: Worms Juncus gerardii
15 : 204: Worms Epalpus signifer
96 : 204: Worms Pastinaca sativa
19 : 200: Worms Schoenoplectus
41 : 200: Worms Ranunculus repens
24 : 204: Worms Linaria vulgaris
31 : 204: Worms Lycopus uniflorus
43 : 204: Worms Hylotelephium telephium
2 : 204: Worms Argentina anserina
51 : 200: Worms Zizania
0 : 204: Worms Rhagonycha fulva
9 : 200: Worms Cichorium intybus
42 : 200: Worms Bidens
12 : 200: Worms Elymus virginicus
28 : 204: Worms Frangula alnus
105 : 204: Worms Scirpus microcarpus
44 : 200: Worms Poaceae
50 : 200: Worms Sagittaria latifolia
46 : 200: Worms Cyperaceae
36 : 204: Worms Spiraea alba
11 : 200: Worms Tussilago farfara
18 : 200: Worms Thuja occidentalis
59 : 204: Worms Sorbus
37 : 204: Worms Chelone glabra
87 : 204: Worms Stachys palustris
66 : 204: Worms Crataegus
26 : 204: Worms Iris versicolor
79 : 204: Worms Lysimachia maritima
13 : 200: Worms Nuphar
81 : 200: Worms Rubus
98 : 200: Worms Lythrum salicaria
97 : 200: Worms Castor canadensis
34 : 204: Worms Matteuccia struthiopteris
118 : 200: Worms Stuckenia pectinata
29 : 200: Worms Plantago
8 : 200: Worms Larus argentatus
121 : 204: Worms Scutellaria lateriflora
3 : 204: Worms Betula papyrifera
47 : 200: Worms Persicaria
30 : 204: Worms Viburnum opulus
84 : 204: Worms Myrica gale
48 : 200: Worms Symphyotrichum
61 : 204: Worms Oxybasis rubra
64 : 204: Worms Euphorbia maculata
39 : 204: Worms Arisaema triphyllum
99 : 204: Worms Schoenoplectus pungens
109 : 200: Worms Galium
133 : 204: Worms Impatiens capensis
103 : 204: Worms Alnus incana
1 : 200: Worms Erechtites hieraciifolius
5 : 204: Worms Persicaria sagittata
45 : 204: Worms Thalictrum pubescens
60 : 200: Worms Eleocharis palustris
53 : 200: Worms Glyceria
80 : 200: Worms Osmunda spectabilis
72 : 204: Worms Fraxinus
123 : 200: Worms Plantago major
63 : 200: Worms Typha
106 : 200: Worms Centaurea jacea
129 : 204: Worms Ilex verticillata
78 : 200: Worms Schoenoplectus tabernaemontani
101 : 200: Worms Cichorieae
58 : 200: Worms Rosaceae
131 : 204: Worms Phalaris arundinacea
62 : 200: Worms Scirpus
110 : 200: Worms Tanacetum
108 : 204: Worms Convallaria majalis
16 : 204: Worms Halerpestes cymbalaria
107 : 204: Worms Cornus sericea
67 : 204: Worms Berberis thunbergii
112 : 204: Worms Athyrium angustum
88 : 204: Worms Stellaria graminea
128 : 204: Worms Calystegia sepium
113 : 204: Worms Hypericum perforatum
93 : 200: Worms Bryophyta
33 : 200: Worms Ruppia maritima
69 : 200: Worms Doellingeria umbellata
76 : 204: Worms Persicaria maculosa
92 : 200: Worms Rumex
68 : 200: Worms Anthoxanthum odoratum
116 : 200: Worms Sonchus arvensis
119 : 200: Worms Onoclea sensibilis
65 : 200: Worms Eutrochium maculatum
140 : 200: Worms Elodea canadensis
144 : 200: Worms Vicia cracca
56 : 200: Worms Vicia
57 : 200: Worms Liliopsida
27 : 204: Worms Apocynum cannabinum
85 : 204: Worms Scutellaria galericulata
117 : 200: Worms Agrostis gigantea
111 : 200: Worms Asteraceae
135 : 200: Worms Tanacetum vulgare
54 : 200: Worms Lonicera
126 : 204: Worms Dasiphora fruticosa
55 : 204: Worms Reynoutria japonica
75 : 200: Worms Galium mollugo
89 : 200: Worms Salix
120 : 200: Worms Raphanus raphanistrum
74 : 200: Worms Osmunda claytoniana
130 : 200: Worms Spergularia marina
94 : 200: Worms Senecio viscosus
115 : 204: Worms Sporobolus michauxianus
38 : 200: Worms Myriophyllum spicatum
142 : 200: Worms Rosa
114 : 200: Worms Juncus
70 : 200: Worms Cirsium arvense
125 : 200: Worms Ulva intestinalis
139 : 200: Worms Typha latifolia
100 : 200: Worms Centaurea nigra
104 : 200: Worms Leucanthemum vulgare
83 : 204: Worms Quercus rubra
122 : 204: Worms Persicaria amphibia
134 : 200: Worms Jacobaea vulgaris
90 : 200: Worms Euthamia
91 : 200: Worms Cirsium
73 : 200: Worms Xanthium strumarium
136 : 200: Worms Megaceryle alcyon
77 : 200: Worms Eleocharis uniglumis
143 : 204: Worms Fraxinus pennsylvanica
82 : 204: Worms Solanum dulcamara
138 : 204: Worms Acorus americanus
71 : 204: Worms Hylaeus
137 : 200: Worms Senecio
127 : 204: Worms Cornus rugosa
95 : 200: Worms Chenopodium album
141 : 200: Worms Oenothera
132 : 200: Worms Carex
86 : 204: Worms Iris hookeri
124 : 204: Worms Thelypteris palustris
102 : 204: Worms Amphicarpaea bracteata

          Dataset Values  Validation Database values                           \
          ScientificName Exact_Match         TaxonID    Status Unacceptreason
127          Acer rubrum      Non/No
80     Acorus americanus      Non/No
115      Alisma triviale      Non/No
49      Alnus alnobetula      Non/No
33          Alnus incana      Non/No
..                   ...         ...             ...       ...            ...
38     Ulva intestinalis     Oui/Yes          234471  accepted           None
21                 Vicia     Oui/Yes          416135  accepted           None
73          Vicia cracca     Oui/Yes         1492127  accepted           None
4    Xanthium strumarium     Oui/Yes         1092089  accepted           None
100              Zizania     Oui/Yes         1435876  accepted           None

                                                   \
    Taxon_Rank Valid_TaxonID           Valid_Name
127
80
115
49
33
..         ...           ...                  ...
38     Species        234471    Ulva intestinalis
21       Genus        416135                Vicia
73     Species       1492127         Vicia cracca
4      Species       1092089  Xanthium strumarium
100      Genus       1435876              Zizania


                                           LSID
127
80
115
49
33
..                                          ...
38    urn:lsid:marinespecies.org:taxname:234471
21    urn:lsid:marinespecies.org:taxname:416135
73   urn:lsid:marinespecies.org:taxname:1492127
4    urn:lsid:marinespecies.org:taxname:1092089
100  urn:lsid:marinespecies.org:taxname:1435876

[145 rows x 9 columns]

In [17]:
check_scientificname_and_ids(occurrence_extension, 'names')

1 : 200: Worms Microspio
8 : 200: Worms Oediceros borealis
2 : 200: Worms Mesodesma arctatum
16 : 200: Worms Littorina saxatilis
18 : 200: Worms Leucon nasicoides
3 : 200: Worms Eteone longa
7 : 200: Worms Macoma balthica
6 : 200: Worms Nephtys ciliata
13 : 200: Worms Mya arenaria
12 : 200: Worms Mytilus edulis
17 : 200: Worms Littorina obtusata
11 : 200: Worms Hydrobia minuta
5 : 200: Worms Psammonyx nobilis
9 : 200: Worms Nereis diversicolor
4 : 200: Worms Idotea balthica
14 : 200: Worms Gammarus oceanicus
10 : 200: Worms Oligochaeta
15 : 200: Worms Nematoda

         Dataset Values  Validation Database values                            \
         ScientificName Exact_Match         TaxonID                    Status
11      Hydrobia minuta      Non/No          152020                unaccepted
2     Leucon nasicoides      Non/No          148682  alternate representation
8   Nereis diversicolor      Non/No          340537                   deleted
4     Psammonyx nobilis      Non/No          158140                unaccepted
9                           Oui/Yes
6          Eteone longa     Oui/Yes          130616                  accepted
15   Gammarus oceanicus     Oui/Yes          102285                  accepted
18      Idotea balthica     Oui/Yes          119039                  accepted
12   Littorina obtusata     Oui/Yes          140263                  accepted
17  Littorina saxatilis     Oui/Yes          445895                unaccepted
5       Macoma balthica     Oui/Yes          141579                  accepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted
10            Microspio     Oui/Yes          129616                  accepted
7          Mya arenaria     Oui/Yes          140430                  accepted
16       Mytilus edulis     Oui/Yes          140480                  accepted
13             Nematoda     Oui/Yes             799                  accepted
1       Nephtys ciliata     Oui/Yes          130356                  accepted
3    Oediceros borealis     Oui/Yes          102906                  accepted
14          Oligochaeta     Oui/Yes            2036                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
11          preoccupied name    Species        574096
2                       None    Species        110619
8       AphiaID resurrection       None        152302
4   superseded recombination    Species       1255501
9
6                       None    Species        130616
15                      None    Species        102285
18                      None    Species        119039
12                      None    Species        140263
17                      None    Species        140264
5                       None    Species        141579
0                       None    Species        156805
10                      None      Genus        129616
7                       None    Species        140430
16                      None    Species        140480
13                      None     Phylum           799
1                       None    Species        130356
3                       None    Species        102906
14                      None   Subclass          2036


                    Valid_Name                                       LSID
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
9
6                 Eteone longa  urn:lsid:marinespecies.org:taxname:130616
15          Gammarus oceanicus  urn:lsid:marinespecies.org:taxname:102285
18             Idotea balthica  urn:lsid:marinespecies.org:taxname:119039
12          Littorina obtusata  urn:lsid:marinespecies.org:taxname:140263
17         Littorina saxatilis  urn:lsid:marinespecies.org:taxname:445895
5              Macoma balthica  urn:lsid:marinespecies.org:taxname:141579
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805
10                   Microspio  urn:lsid:marinespecies.org:taxname:129616
7                 Mya arenaria  urn:lsid:marinespecies.org:taxname:140430
16              Mytilus edulis  urn:lsid:marinespecies.org:taxname:140480
13                    Nematoda     urn:lsid:marinespecies.org:taxname:799
1              Nephtys ciliata  urn:lsid:marinespecies.org:taxname:130356
3           Oediceros borealis  urn:lsid:marinespecies.org:taxname:102906
14                 Oligochaeta    urn:lsid:marinespecies.org:taxname:2036

In [18]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1

2 : 204: Worms Argentina anserina
0 : 204: Worms Rhagonycha fulva
5 : 204: Worms Persicaria sagittata
20 : 204: Worms Lysimachia ciliata
3 : 204: Worms Betula papyrifera
4 : 204: Worms Alnus alnobetula
17 : 204: Worms Harmonia axyridis
10 : 204: Worms Alisma triviale
15 : 204: Worms Epalpus signifer
8 : 200: Worms Larus argentatus
34 : 204: Worms Matteuccia struthiopteris
32 : 204: Worms Carex pallescens
31 : 204: Worms Lycopus uniflorus
16 : 204: Worms Halerpestes cymbalaria
28 : 204: Worms Frangula alnus
7 : 204: Worms Acer rubrum
6 : 204: Worms Echinocystis lobata
27 : 204: Worms Apocynum cannabinum
18 : 200: Worms Thuja occidentalis
35 : 204: Worms Mentha canadensis
26 : 204: Worms Iris versicolor
14 : 204: Worms Sium suave
13 : 200: Worms Nuphar
25 : 200: Worms Tracheophyta
37 : 204: Worms Chelone glabra
30 : 204: Worms Viburnum opulus
21 : 204: Worms Lysimachia terrestris
36 : 204: Worms Spiraea alba
59 : 204: Worms Sorbus
24 : 204: Worms Linaria vulgaris
40 : 204: Worms Prunella vulgaris
61 : 204: Worms Oxybasis rubra
11 : 200: Worms Tussilago farfara
45 : 204: Worms Thalictrum pubescens
55 : 204: Worms Reynoutria japonica
66 : 204: Worms Crataegus
72 : 204: Worms Fraxinus
22 : 200: Worms Polistes fuscatus
113 : 204: Worms Hypericum perforatum
88 : 204: Worms Stellaria graminea
39 : 204: Worms Arisaema triphyllum
76 : 204: Worms Persicaria maculosa
86 : 204: Worms Iris hookeri
50 : 200: Worms Sagittaria latifolia
133 : 204: Worms Impatiens capensis
99 : 204: Worms Schoenoplectus pungens
49 : 204: Worms Hypericum mutilum
79 : 204: Worms Lysimachia maritima
126 : 204: Worms Dasiphora fruticosa
84 : 204: Worms Myrica gale
60 : 200: Worms Eleocharis palustris
138 : 204: Worms Acorus americanus
51 : 200: Worms Zizania
62 : 200: Worms Scirpus
105 : 204: Worms Scirpus microcarpus
102 : 204: Worms Amphicarpaea bracteata
64 : 204: Worms Euphorbia maculata
69 : 200: Worms Doellingeria umbellata
41 : 200: Worms Ranunculus repens
33 : 200: Worms Ruppia maritima
23 : 200: Worms Calidris minutilla
81 : 200: Worms Rubus
132 : 200: Worms Carex
43 : 204: Worms Hylotelephium telephium
65 : 200: Worms Eutrochium maculatum
19 : 200: Worms Schoenoplectus
67 : 204: Worms Berberis thunbergii
107 : 204: Worms Cornus sericea
127 : 204: Worms Cornus rugosa
106 : 200: Worms Centaurea jacea
46 : 200: Worms Cyperaceae
98 : 200: Worms Lythrum salicaria
71 : 204: Worms Hylaeus
125 : 200: Worms Ulva intestinalis
63 : 200: Worms Typha
9 : 200: Worms Cichorium intybus
135 : 200: Worms Tanacetum vulgare
142 : 200: Worms Rosa
87 : 204: Worms Stachys palustris
90 : 200: Worms Euthamia
94 : 200: Worms Senecio viscosus
74 : 200: Worms Osmunda claytoniana
78 : 200: Worms Schoenoplectus tabernaemontani
122 : 204: Worms Persicaria amphibia
80 : 200: Worms Osmunda spectabilis
48 : 200: Worms Symphyotrichum
38 : 200: Worms Myriophyllum spicatum
131 : 204: Worms Phalaris arundinacea
112 : 204: Worms Athyrium angustum
44 : 200: Worms Poaceae
103 : 204: Worms Alnus incana
115 : 204: Worms Sporobolus michauxianus
53 : 200: Worms Glyceria
92 : 200: Worms Rumex
108 : 204: Worms Convallaria majalis
96 : 204: Worms Pastinaca sativa
143 : 204: Worms Fraxinus pennsylvanica
52 : 200: Worms Juncus gerardii
137 : 200: Worms Senecio
77 : 200: Worms Eleocharis uniglumis
85 : 204: Worms Scutellaria galericulata
124 : 204: Worms Thelypteris palustris
136 : 200: Worms Megaceryle alcyon
121 : 204: Worms Scutellaria lateriflora
54 : 200: Worms Lonicera
29 : 200: Worms Plantago
95 : 200: Worms Chenopodium album
129 : 204: Worms Ilex verticillata
116 : 200: Worms Sonchus arvensis
58 : 200: Worms Rosaceae
82 : 204: Worms Solanum dulcamara
47 : 200: Worms Persicaria
100 : 200: Worms Centaurea nigra
128 : 204: Worms Calystegia sepium
12 : 200: Worms Elymus virginicus
118 : 200: Worms Stuckenia pectinata
123 : 200: Worms Plantago major
144 : 200: Worms Vicia cracca
119 : 200: Worms Onoclea sensibilis
101 : 200: Worms Cichorieae
75 : 200: Worms Galium mollugo
56 : 200: Worms Vicia
141 : 200: Worms Oenothera
89 : 200: Worms Salix
42 : 200: Worms Bidens
93 : 200: Worms Bryophyta
109 : 200: Worms Galium
68 : 200: Worms Anthoxanthum odoratum
70 : 200: Worms Cirsium arvense
83 : 204: Worms Quercus rubra
97 : 200: Worms Castor canadensis
110 : 200: Worms Tanacetum
130 : 200: Worms Spergularia marina
91 : 200: Worms Cirsium
1 : 200: Worms Erechtites hieraciifolius
57 : 200: Worms Liliopsida
111 : 200: Worms Asteraceae
140 : 200: Worms Elodea canadensis
120 : 200: Worms Raphanus raphanistrum
134 : 200: Worms Jacobaea vulgaris
104 : 200: Worms Leucanthemum vulgare
114 : 200: Worms Juncus
73 : 200: Worms Xanthium strumarium
139 : 200: Worms Typha latifolia
117 : 200: Worms Agrostis gigantea

          Dataset Values  Validation Database values                           \
          ScientificName Exact_Match         TaxonID    Status Unacceptreason
127          Acer rubrum      Non/No
80     Acorus americanus      Non/No
115      Alisma triviale      Non/No
49      Alnus alnobetula      Non/No
33          Alnus incana      Non/No
..                   ...         ...             ...       ...            ...
38     Ulva intestinalis     Oui/Yes          234471  accepted           None
21                 Vicia     Oui/Yes          416135  accepted           None
73          Vicia cracca     Oui/Yes         1492127  accepted           None
4    Xanthium strumarium     Oui/Yes         1092089  accepted           None
100              Zizania     Oui/Yes         1435876  accepted           None

                                                   \
    Taxon_Rank Valid_TaxonID           Valid_Name
127
80
115
49
33
..         ...           ...                  ...
38     Species        234471    Ulva intestinalis
21       Genus        416135                Vicia
73     Species       1492127         Vicia cracca
4      Species       1092089  Xanthium strumarium
100      Genus       1435876              Zizania


                                           LSID
127
80
115
49
33
..                                          ...
38    urn:lsid:marinespecies.org:taxname:234471
21    urn:lsid:marinespecies.org:taxname:416135
73   urn:lsid:marinespecies.org:taxname:1492127
4    urn:lsid:marinespecies.org:taxname:1092089
100  urn:lsid:marinespecies.org:taxname:1435876

[145 rows x 9 columns]

In [19]:
table2

         Ref. ID                Validation                              \
    OccurrenceID ScientificName_Validation scientificNameID_Validation
0       ABCD-001                    Non/No                      Non/No
1       ABCD-002                    Non/No                      Non/No
2       ABCD-003                    Non/No                      Non/No
3       ABCD-004                    Non/No                      Non/No
5       ABCD-006                    Non/No                      Non/No
..           ...                       ...                         ...
288     ABCD-289                   Oui/Yes                     Oui/Yes
290     ABCD-291                   Oui/Yes                     Oui/Yes
294     ABCD-295                   Oui/Yes                     Oui/Yes
296     ABCD-297                   Oui/Yes                     Oui/Yes
299     ABCD-300                   Oui/Yes                     Oui/Yes

              Dataset Values                                              \
              ScientificName                            ScientificNameID
0       Phalaris arundinacea            urn:lsid:itis.gov:itis_tsn:41335
1    Sporobolus michauxianus          urn:lsid:ipni.org:names:77145291-1
2     Schoenoplectus pungens           urn:lsid:itis.gov:itis_tsn:508146
3             Oxybasis rubra          urn:lsid:ipni.org:names:77121013-1
5           Linaria vulgaris            urn:lsid:itis.gov:itis_tsn:33216
..                       ...                                         ...
288           Schoenoplectus   urn:lsid:marinespecies.org:taxname:382429
290                     Rosa   urn:lsid:marinespecies.org:taxname:425714
294        Tussilago farfara   urn:lsid:marinespecies.org:taxname:594804
296                   Galium   urn:lsid:marinespecies.org:taxname:993892
299               Cichorieae  urn:lsid:marinespecies.org:taxname:1074862

       Database values
            Valid_Name                                        LSID
0
1
2
3
5
..                 ...                                         ...
288     Schoenoplectus   urn:lsid:marinespecies.org:taxname:382429
290               Rosa   urn:lsid:marinespecies.org:taxname:425714
294  Tussilago farfara   urn:lsid:marinespecies.org:taxname:594804
296             Galium   urn:lsid:marinespecies.org:taxname:993892
299         Cichorieae  urn:lsid:marinespecies.org:taxname:1074862

[301 rows x 7 columns]

In [20]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')

1 : 200: Worms Erechtites hieraciifolius
4 : 204: Worms Alnus alnobetula
0 : 204: Worms Rhagonycha fulva
6 : 204: Worms Echinocystis lobata
13 : 200: Worms Nuphar
21 : 204: Worms Lysimachia terrestris
5 : 204: Worms Persicaria sagittata
27 : 204: Worms Apocynum cannabinum
32 : 204: Worms Carex pallescens
20 : 204: Worms Lysimachia ciliata
12 : 200: Worms Elymus virginicus
3 : 204: Worms Betula papyrifera
8 : 200: Worms Larus argentatus
25 : 200: Worms Tracheophyta
29 : 200: Worms Plantago
10 : 204: Worms Alisma triviale
16 : 204: Worms Halerpestes cymbalaria
22 : 200: Worms Polistes fuscatus
26 : 204: Worms Iris versicolor
15 : 204: Worms Epalpus signifer
17 : 204: Worms Harmonia axyridis
49 : 204: Worms Hypericum mutilum
31 : 204: Worms Lycopus uniflorus
2 : 204: Worms Argentina anserina
11 : 200: Worms Tussilago farfara
18 : 200: Worms Thuja occidentalis
24 : 204: Worms Linaria vulgaris
14 : 204: Worms Sium suave
37 : 204: Worms Chelone glabra
34 : 204: Worms Matteuccia struthiopteris
40 : 204: Worms Prunella vulgaris
9 : 200: Worms Cichorium intybus
36 : 204: Worms Spiraea alba
50 : 200: Worms Sagittaria latifolia
48 : 200: Worms Symphyotrichum
47 : 200: Worms Persicaria
42 : 200: Worms Bidens
7 : 204: Worms Acer rubrum
23 : 200: Worms Calidris minutilla
30 : 204: Worms Viburnum opulus
51 : 200: Worms Zizania
38 : 200: Worms Myriophyllum spicatum
44 : 200: Worms Poaceae
45 : 204: Worms Thalictrum pubescens
39 : 204: Worms Arisaema triphyllum
41 : 200: Worms Ranunculus repens
19 : 200: Worms Schoenoplectus
43 : 204: Worms Hylotelephium telephium
52 : 200: Worms Juncus gerardii
33 : 200: Worms Ruppia maritima
35 : 204: Worms Mentha canadensis
28 : 204: Worms Frangula alnus
46 : 200: Worms Cyperaceae
55 : 204: Worms Reynoutria japonica
87 : 204: Worms Stachys palustris
79 : 204: Worms Lysimachia maritima
128 : 204: Worms Calystegia sepium
99 : 204: Worms Schoenoplectus pungens
130 : 200: Worms Spergularia marina
121 : 204: Worms Scutellaria lateriflora
141 : 200: Worms Oenothera
103 : 204: Worms Alnus incana
66 : 204: Worms Crataegus
140 : 200: Worms Elodea canadensis
142 : 200: Worms Rosa
127 : 204: Worms Cornus rugosa
129 : 204: Worms Ilex verticillata
134 : 200: Worms Jacobaea vulgaris
135 : 200: Worms Tanacetum vulgare
114 : 200: Worms Juncus
70 : 200: Worms Cirsium arvense
125 : 200: Worms Ulva intestinalis
132 : 200: Worms Carex
144 : 200: Worms Vicia cracca
137 : 200: Worms Senecio
53 : 200: Worms Glyceria
84 : 204: Worms Myrica gale
86 : 204: Worms Iris hookeri
76 : 204: Worms Persicaria maculosa
136 : 200: Worms Megaceryle alcyon
80 : 200: Worms Osmunda spectabilis
83 : 204: Worms Quercus rubra
67 : 204: Worms Berberis thunbergii
119 : 200: Worms Onoclea sensibilis
74 : 200: Worms Osmunda claytoniana
72 : 204: Worms Fraxinus
89 : 200: Worms Salix
82 : 204: Worms Solanum dulcamara
73 : 200: Worms Xanthium strumarium
81 : 200: Worms Rubus
117 : 200: Worms Agrostis gigantea
115 : 204: Worms Sporobolus michauxianus
139 : 200: Worms Typha latifolia
108 : 204: Worms Convallaria majalis
88 : 204: Worms Stellaria graminea
124 : 204: Worms Thelypteris palustris
75 : 200: Worms Galium mollugo
111 : 200: Worms Asteraceae
138 : 204: Worms Acorus americanus
71 : 204: Worms Hylaeus
102 : 204: Worms Amphicarpaea bracteata
106 : 200: Worms Centaurea jacea
68 : 200: Worms Anthoxanthum odoratum
143 : 204: Worms Fraxinus pennsylvanica
133 : 204: Worms Impatiens capensis
110 : 200: Worms Tanacetum
85 : 204: Worms Scutellaria galericulata
113 : 204: Worms Hypericum perforatum
107 : 204: Worms Cornus sericea
112 : 204: Worms Athyrium angustum
78 : 200: Worms Schoenoplectus tabernaemontani
64 : 204: Worms Euphorbia maculata
105 : 204: Worms Scirpus microcarpus
126 : 204: Worms Dasiphora fruticosa
63 : 200: Worms Typha
77 : 200: Worms Eleocharis uniglumis
69 : 200: Worms Doellingeria umbellata
109 : 200: Worms Galium
59 : 204: Worms Sorbus
65 : 200: Worms Eutrochium maculatum
62 : 200: Worms Scirpus
116 : 200: Worms Sonchus arvensis
97 : 200: Worms Castor canadensis
58 : 200: Worms Rosaceae
120 : 200: Worms Raphanus raphanistrum
57 : 200: Worms Liliopsida
131 : 204: Worms Phalaris arundinacea
92 : 200: Worms Rumex
101 : 200: Worms Cichorieae
98 : 200: Worms Lythrum salicaria
123 : 200: Worms Plantago major
90 : 200: Worms Euthamia
94 : 200: Worms Senecio viscosus
61 : 204: Worms Oxybasis rubra
96 : 204: Worms Pastinaca sativa
54 : 200: Worms Lonicera
56 : 200: Worms Vicia
95 : 200: Worms Chenopodium album
122 : 204: Worms Persicaria amphibia
118 : 200: Worms Stuckenia pectinata
93 : 200: Worms Bryophyta
100 : 200: Worms Centaurea nigra
91 : 200: Worms Cirsium
60 : 200: Worms Eleocharis palustris
104 : 200: Worms Leucanthemum vulgare

In [21]:
table3

          Dataset Values  Validation Database values                           \
          ScientificName Exact_Match         TaxonID    Status Unacceptreason
127          Acer rubrum      Non/No
80     Acorus americanus      Non/No
115      Alisma triviale      Non/No
49      Alnus alnobetula      Non/No
33          Alnus incana      Non/No
..                   ...         ...             ...       ...            ...
38     Ulva intestinalis     Oui/Yes          234471  accepted           None
21                 Vicia     Oui/Yes          416135  accepted           None
73          Vicia cracca     Oui/Yes         1492127  accepted           None
4    Xanthium strumarium     Oui/Yes         1092089  accepted           None
100              Zizania     Oui/Yes         1435876  accepted           None

                                                   \
    Taxon_Rank Valid_TaxonID           Valid_Name
127
80
115
49
33
..         ...           ...                  ...
38     Species        234471    Ulva intestinalis
21       Genus        416135                Vicia
73     Species       1492127         Vicia cracca
4      Species       1092089  Xanthium strumarium
100      Genus       1435876              Zizania


                                           LSID
127
80
115
49
33
..                                          ...
38    urn:lsid:marinespecies.org:taxname:234471
21    urn:lsid:marinespecies.org:taxname:416135
73   urn:lsid:marinespecies.org:taxname:1492127
4    urn:lsid:marinespecies.org:taxname:1092089
100  urn:lsid:marinespecies.org:taxname:1435876

[145 rows x 9 columns]

In [22]:
table4

         Ref. ID                Validation                       \
    OccurrenceID ScientificName_Validation TaxonRank_Validation
0       ABCD-001                    Non/No               Non/No
1       ABCD-002                    Non/No               Non/No
2       ABCD-003                    Non/No               Non/No
3       ABCD-004                    Non/No               Non/No
5       ABCD-006                    Non/No               Non/No
..           ...                       ...                  ...
288     ABCD-289                   Oui/Yes              Oui/Yes
290     ABCD-291                   Oui/Yes              Oui/Yes
294     ABCD-295                   Oui/Yes              Oui/Yes
296     ABCD-297                   Oui/Yes              Oui/Yes
299     ABCD-300                   Oui/Yes              Oui/Yes

                                          Dataset Values            \
    scientificNameID_Validation           ScientificName TaxonRank
0                        Non/No     Phalaris arundinacea   Species
1                        Non/No  Sporobolus michauxianus   Species
2                        Non/No   Schoenoplectus pungens   Species
3                        Non/No           Oxybasis rubra   Species
5                        Non/No         Linaria vulgaris   Species
..                          ...                      ...       ...
288                     Oui/Yes           Schoenoplectus     Genus
290                     Oui/Yes                     Rosa     Genus
294                     Oui/Yes        Tussilago farfara   Species
296                     Oui/Yes                   Galium     Genus
299                     Oui/Yes               Cichorieae     Tribe

                                                   Database values             \
                               ScientificNameID         Valid_Name Taxon_Rank
0              urn:lsid:itis.gov:itis_tsn:41335
1            urn:lsid:ipni.org:names:77145291-1
2             urn:lsid:itis.gov:itis_tsn:508146
3            urn:lsid:ipni.org:names:77121013-1
5              urn:lsid:itis.gov:itis_tsn:33216
..                                          ...                ...        ...
288   urn:lsid:marinespecies.org:taxname:382429     Schoenoplectus      Genus
290   urn:lsid:marinespecies.org:taxname:425714               Rosa      Genus
294   urn:lsid:marinespecies.org:taxname:594804  Tussilago farfara    Species
296   urn:lsid:marinespecies.org:taxname:993892             Galium      Genus
299  urn:lsid:marinespecies.org:taxname:1074862         Cichorieae      Tribe


                                           LSID
0
1
2
3
5
..                                          ...
288   urn:lsid:marinespecies.org:taxname:382429
290   urn:lsid:marinespecies.org:taxname:425714
294   urn:lsid:marinespecies.org:taxname:594804
296   urn:lsid:marinespecies.org:taxname:993892
299  urn:lsid:marinespecies.org:taxname:1074862

[301 rows x 10 columns]

Try the check_scientificname_and_ids function - itis_usage:

In [23]:
# function can take a few minutes to process with 'itis_usage = True'
# uncomment following line to test the 'itis_usage' parameter
#check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()