In [12]:
import pandas as pd
import numpy as np
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import nest_asyncio
nest_asyncio.apply()
pd.set_option('max_colwidth', None)
NaN = np.nan

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the Pyobistools biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Command to install Pyobistools
+ pip install pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobistools' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

##### Results
+ The validation section of the result tables will make a comparison of the scientific names, taxon tanks and scientificname IDs values coming from the dataset and the ones coming from the databases. If the comparison between the respectives columns shows that the values are the same, 'Oui/Yes' is displayed. Otherwise 'Non/No' is displayed.

Load different types of DWC files:

In [13]:
occurrence_core = pd.read_csv('test_occurrence_core_check_scientificname_and_ids.csv')
occurrence_core.head(5)

,datasetID,occurrenceID,eventDate,countryCode,location,decimalLatitude,decimalLongitude,accuracyInMeters,kingdom,commonName,...,acceptedNameUsage,acceptedNameUsageID,taxonID,taxon_id,iNaturalistID,taxonRank,occurrenceStatus,basisOfRecord,quality_grade,url
0,ABCD-2021,ABCD-001,2021-08-11 06:02:26,CA,Randolph Island,45.268169,-66.122442,8,Plantae,reed canary grass,...,Phalaris arundinacea,urn:lsid:itis.gov:itis_tsn:41335,https://www.gbif.org/species/5289756,63337,90776330,Species,present,HumanObservation,research,https://www.inaturalist.org/observations/90776330
1,ABCD-2021,ABCD-002,2021-08-11 06:03:12,CA,Randolph Island,45.268148,-66.122424,9,Plantae,prairie cordgrass,...,Sporobolus michauxianus,urn:lsid:ipni.org:names:77145291-1,https://www.gbif.org/species/9592414,772984,90776368,Species,present,HumanObservation,needs_id,https://www.inaturalist.org/observations/90776368
2,ABCD-2021,ABCD-003,2021-08-11 06:04:32,CA,Randolph Island,45.268140,-66.122220,8,Plantae,three-square bulrush,...,Schoenoplectus pungens,urn:lsid:itis.gov:itis_tsn:508146,https://www.gbif.org/species/2711190,59072,90776406,Species,present,HumanObservation,research,https://www.inaturalist.org/observations/90776406
3,ABCD-2021,ABCD-004,2021-08-11 06:07:02,CA,Randolph Island,45.268185,-66.122050,9,Plantae,red pigweed,...,Oxybasis rubra,urn:lsid:ipni.org:names:77121013-1,https://www.gbif.org/species/7725469,931679,90776443,Species,present,HumanObservation,needs_id,https://www.inaturalist.org/observations/90776443
4,ABCD-2021,ABCD-005,2021-08-11 06:08:36,CA,Randolph Island,45.268295,-66.121987,8,Plantae,rough cocklebur,...,Xanthium strumarium,urn:lsid:marinespecies.org:taxname:1092089,https://www.gbif.org/species/3089154,57920,90776465,Species,present,HumanObservation,research,https://www.inaturalist.org/observations/90776465

In [14]:
occurrence_extension = pd.read_csv('test_occurrence_extension_check_scientificname_and_ids.csv')
occurrence_extension.head(5)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_ABCD_BE10C1,0003_ABCD_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_ABCD_BE10C1,0003_ABCD_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_ABCD_BE10C2,0003_ABCD_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation
3,0003_ABCD_BE10C2,0003_ABCD_BE10C2_4,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,5,HumanObservation
4,0003_ABCD_BE10C2,0003_ABCD_BE10C2_5,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation

Try the check_scientificname_and_ids function:

In [15]:
check_scientificname_and_ids(occurrence_core, 'names')

0 : 204: Worms Apocynum cannabinum
3 : 204: Worms Hylaeus
1 : 204: Worms Scutellaria lateriflora
4 : 200: Worms Tracheophyta
9 : 200: Worms Typha latifolia
8 : 204: Worms Euphorbia maculata
6 : 200: Worms Juncus
45 : 204: Worms Halerpestes cymbalaria
14 : 204: Worms Pastinaca sativa
5 : 204: Worms Sium suave
44 : 200: Worms Vicia cracca
13 : 200: Worms Elymus virginicus
12 : 204: Worms Sporobolus michauxianus
32 : 204: Worms Ilex verticillata
73 : 204: Worms Harmonia axyridis
26 : 200: Worms Galium mollugo
2 : 200: Worms Doellingeria umbellata
10 : 200: Worms Jacobaea vulgaris
31 : 204: Worms Spiraea alba
34 : 204: Worms Phalaris arundinacea
18 : 204: Worms Alisma triviale
33 : 200: Worms Schoenoplectus pungens
23 : 200: Worms Leucanthemum vulgare
16 : 204: Worms Persicaria sagittata
41 : 204: Worms Linaria vulgaris
36 : 204: Worms Convallaria majalis
53 : 204: Worms Persicaria amphibia
39 : 204: Worms Betula papyrifera
28 : 200: Worms Anthoxanthum odoratum
27 : 204: Worms Viburnum opulus
19 : 200: Worms Lythrum salicaria
40 : 204: Worms Cornus sericea
24 : 200: Worms Agrostis gigantea
7 : 204: Worms Berberis thunbergii
64 : 200: Worms Liliopsida
37 : 204: Worms Argentina anserina
130 : 204: Worms Persicaria maculosa
62 : 204: Worms Stachys palustris
50 : 204: Worms Fraxinus pennsylvanica
25 : 204: Worms Crataegus
69 : 200: Worms Schoenoplectus tabernaemontani
15 : 200: Worms Scirpus
77 : 204: Worms Hypericum mutilum
35 : 200: Worms Spergularia marina
52 : 200: Worms Symphyotrichum
29 : 200: Worms Raphanus raphanistrum
30 : 200: Worms Bidens
96 : 204: Worms Acer rubrum
61 : 204: Worms Scutellaria galericulata
63 : 200: Worms Bryophyta
11 : 200: Worms Tanacetum vulgare
66 : 200: Worms Cichorieae
101 : 204: Worms Quercus rubra
67 : 204: Worms Solanum dulcamara
58 : 204: Worms Epalpus signifer
42 : 200: Worms Juncus gerardii
83 : 204: Worms Chelone glabra
138 : 204: Worms Myrica gale
140 : 204: Worms Alnus incana
142 : 204: Worms Rhagonycha fulva
49 : 204: Worms Dasiphora fruticosa
38 : 200: Worms Castor canadensis
84 : 204: Worms Arisaema triphyllum
119 : 204: Worms Oxybasis rubra
80 : 204: Worms Alnus alnobetula
76 : 200: Worms Rosaceae
59 : 204: Worms Iris hookeri
88 : 204: Worms Iris versicolor
57 : 204: Worms Lysimachia terrestris
75 : 200: Worms Elodea canadensis
17 : 204: Worms Lycopus uniflorus
43 : 200: Worms Persicaria
93 : 204: Worms Acorus americanus
120 : 204: Worms Stellaria graminea
87 : 200: Worms Polistes fuscatus
139 : 200: Worms Sagittaria latifolia
144 : 200: Worms Myriophyllum spicatum
68 : 204: Worms Impatiens capensis
51 : 204: Worms Calystegia sepium
60 : 204: Worms Hypericum perforatum
128 : 200: Worms Tanacetum
95 : 200: Worms Carex pallescens
82 : 200: Worms Chenopodium album
127 : 204: Worms Reynoutria japonica
108 : 204: Worms Mentha canadensis
56 : 200: Worms Megaceryle alcyon
141 : 204: Worms Frangula alnus
74 : 204: Worms Prunella vulgaris
65 : 204: Worms Lysimachia maritima
109 : 200: Worms Senecio viscosus
103 : 200: Worms Lonicera
46 : 200: Worms Thuja occidentalis
121 : 200: Worms Rumex
81 : 204: Worms Athyrium angustum
114 : 204: Worms Fraxinus
78 : 200: Worms Glyceria
133 : 200: Worms Galium
98 : 200: Worms Rubus
110 : 204: Worms Amphicarpaea bracteata
70 : 204: Worms Matteuccia struthiopteris
86 : 204: Worms Thalictrum pubescens
113 : 204: Worms Echinocystis lobata
106 : 204: Worms Cornus rugosa
122 : 204: Worms Lysimachia ciliata
22 : 204: Worms Hylotelephium telephium
21 : 200: Worms Senecio
20 : 200: Worms Xanthium strumarium
92 : 200: Worms Salix
55 : 200: Worms Rosa
134 : 200: Worms Vicia
132 : 200: Worms Tussilago farfara
111 : 200: Worms Eleocharis palustris
112 : 200: Worms Eutrochium maculatum
91 : 200: Worms Larus argentatus
97 : 200: Worms Oenothera
54 : 200: Worms Osmunda spectabilis
89 : 200: Worms Ulva intestinalis
48 : 200: Worms Erechtites hieraciifolius
79 : 200: Worms Euthamia
71 : 200: Worms Schoenoplectus
99 : 200: Worms Ruppia maritima
129 : 200: Worms Onoclea sensibilis
47 : 200: Worms Centaurea nigra
135 : 200: Worms Zizania
104 : 200: Worms Nuphar
94 : 200: Worms Eleocharis uniglumis
126 : 200: Worms Typha
118 : 200: Worms Cichorium intybus
72 : 200: Worms Ranunculus repens
90 : 200: Worms Centaurea jacea
137 : 200: Worms Plantago major
105 : 200: Worms Scirpus microcarpus
85 : 200: Worms Cirsium arvense
116 : 204: Worms Sorbus
143 : 200: Worms Poaceae
124 : 200: Worms Stuckenia pectinata
131 : 200: Worms Calidris minutilla
125 : 200: Worms Cyperaceae
117 : 200: Worms Cirsium
102 : 200: Worms Asteraceae
100 : 200: Worms Sonchus arvensis
123 : 204: Worms Thelypteris palustris
136 : 200: Worms Plantago
107 : 200: Worms Osmunda claytoniana
115 : 200: Worms Carex

          Dataset Values  Validation Database values                           \
          scientificName Exact_Match         TaxonID    Status Unacceptreason
127          Acer rubrum      Non/No
80     Acorus americanus      Non/No
115      Alisma triviale      Non/No
49      Alnus alnobetula      Non/No
33          Alnus incana      Non/No
..                   ...         ...             ...       ...            ...
38     Ulva intestinalis     Oui/Yes          234471  accepted           None
21                 Vicia     Oui/Yes          416135  accepted           None
73          Vicia cracca     Oui/Yes         1492127  accepted           None
4    Xanthium strumarium     Oui/Yes         1092089  accepted           None
100              Zizania     Oui/Yes         1435876  accepted           None

                                                   \
    Taxon_Rank Valid_TaxonID           Valid_Name
127
80
115
49
33
..         ...           ...                  ...
38     Species        234471    Ulva intestinalis
21       Genus        416135                Vicia
73     Species       1492127         Vicia cracca
4      Species       1092089  Xanthium strumarium
100      Genus       1435876              Zizania


                                           LSID
127
80
115
49
33
..                                          ...
38    urn:lsid:marinespecies.org:taxname:234471
21    urn:lsid:marinespecies.org:taxname:416135
73   urn:lsid:marinespecies.org:taxname:1492127
4    urn:lsid:marinespecies.org:taxname:1092089
100  urn:lsid:marinespecies.org:taxname:1435876

[145 rows x 9 columns]

In [16]:
check_scientificname_and_ids(occurrence_extension, 'names')

1 : 200: Worms Littorina obtusata
10 : 200: Worms Idotea balthica
13 : 200: Worms Microspio
9 : 200: Worms Oediceros borealis
14 : 200: Worms Eteone longa
16 : 200: Worms Hydrobia minuta
4 : 200: Worms Nereis diversicolor
17 : 200: Worms Mesodesma arctatum
6 : 200: Worms Macoma balthica
11 : 200: Worms Mya arenaria
5 : 200: Worms Nephtys ciliata
7 : 200: Worms Littorina saxatilis
2 : 200: Worms Leucon nasicoides
3 : 200: Worms Mytilus edulis
15 : 200: Worms Psammonyx nobilis
12 : 200: Worms Gammarus oceanicus
8 : 200: Worms Nematoda
18 : 200: Worms Oligochaeta

         Dataset Values  Validation Database values                            \
         scientificName Exact_Match         TaxonID                    Status
11      Hydrobia minuta      Non/No          152020                unaccepted
2     Leucon nasicoides      Non/No          148682  alternate representation
8   Nereis diversicolor      Non/No          340537                   deleted
4     Psammonyx nobilis      Non/No          158140                unaccepted
9                           Oui/Yes
6          Eteone longa     Oui/Yes          130616                  accepted
15   Gammarus oceanicus     Oui/Yes          102285                  accepted
18      Idotea balthica     Oui/Yes          119039                  accepted
12   Littorina obtusata     Oui/Yes          140263                  accepted
17  Littorina saxatilis     Oui/Yes          445895                unaccepted
5       Macoma balthica     Oui/Yes          141579                  accepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted
10            Microspio     Oui/Yes          129616                  accepted
7          Mya arenaria     Oui/Yes          140430                  accepted
16       Mytilus edulis     Oui/Yes          140480                  accepted
13             Nematoda     Oui/Yes             799                  accepted
1       Nephtys ciliata     Oui/Yes          130356                  accepted
3    Oediceros borealis     Oui/Yes          102906                  accepted
14          Oligochaeta     Oui/Yes            2036                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
11          preoccupied name    Species        574096
2                       None    Species        110619
8       AphiaID resurrection       None        152302
4   superseded recombination    Species       1255501
9
6                       None    Species        130616
15                      None    Species        102285
18                      None    Species        119039
12                      None    Species        140263
17                      None    Species        140264
5                       None    Species        141579
0                       None    Species        156805
10                      None      Genus        129616
7                       None    Species        140430
16                      None    Species        140480
13                      None     Phylum           799
1                       None    Species        130356
3                       None    Species        102906
14                      None   Subclass          2036


                    Valid_Name                                       LSID
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
9
6                 Eteone longa  urn:lsid:marinespecies.org:taxname:130616
15          Gammarus oceanicus  urn:lsid:marinespecies.org:taxname:102285
18             Idotea balthica  urn:lsid:marinespecies.org:taxname:119039
12          Littorina obtusata  urn:lsid:marinespecies.org:taxname:140263
17         Littorina saxatilis  urn:lsid:marinespecies.org:taxname:445895
5              Macoma balthica  urn:lsid:marinespecies.org:taxname:141579
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805
10                   Microspio  urn:lsid:marinespecies.org:taxname:129616
7                 Mya arenaria  urn:lsid:marinespecies.org:taxname:140430
16              Mytilus edulis  urn:lsid:marinespecies.org:taxname:140480
13                    Nematoda     urn:lsid:marinespecies.org:taxname:799
1              Nephtys ciliata  urn:lsid:marinespecies.org:taxname:130356
3           Oediceros borealis  urn:lsid:marinespecies.org:taxname:102906
14                 Oligochaeta    urn:lsid:marinespecies.org:taxname:2036

In [18]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1

16 : 204: Worms Persicaria sagittata
58 : 204: Worms Epalpus signifer
63 : 200: Worms Bryophyta
36 : 204: Worms Convallaria majalis
72 : 200: Worms Ranunculus repens
43 : 200: Worms Persicaria
51 : 204: Worms Calystegia sepium
78 : 200: Worms Glyceria
42 : 200: Worms Juncus gerardii
68 : 204: Worms Impatiens capensis
48 : 200: Worms Erechtites hieraciifolius
70 : 204: Worms Matteuccia struthiopteris
47 : 200: Worms Centaurea nigra
12 : 204: Worms Sporobolus michauxianus
14 : 204: Worms Pastinaca sativa
2 : 200: Worms Doellingeria umbellata
122 : 204: Worms Lysimachia ciliata
84 : 204: Worms Arisaema triphyllum
93 : 204: Worms Acorus americanus
18 : 204: Worms Alisma triviale
86 : 204: Worms Thalictrum pubescens
85 : 200: Worms Cirsium arvense
135 : 200: Worms Zizania
126 : 200: Worms Typha
110 : 204: Worms Amphicarpaea bracteata
62 : 204: Worms Stachys palustris
83 : 204: Worms Chelone glabra
95 : 200: Worms Carex pallescens
90 : 200: Worms Centaurea jacea
101 : 204: Worms Quercus rubra
92 : 200: Worms Salix
141 : 204: Worms Frangula alnus
133 : 200: Worms Galium
114 : 204: Worms Fraxinus
80 : 204: Worms Alnus alnobetula
96 : 204: Worms Acer rubrum
120 : 204: Worms Stellaria graminea
88 : 204: Worms Iris versicolor
65 : 204: Worms Lysimachia maritima
41 : 204: Worms Linaria vulgaris
79 : 200: Worms Euthamia
30 : 200: Worms Bidens
97 : 200: Worms Oenothera
98 : 200: Worms Rubus
32 : 204: Worms Ilex verticillata
46 : 200: Worms Thuja occidentalis
31 : 204: Worms Spiraea alba
67 : 204: Worms Solanum dulcamara
105 : 200: Worms Scirpus microcarpus
6 : 200: Worms Juncus
44 : 200: Worms Vicia cracca
59 : 204: Worms Iris hookeri
13 : 200: Worms Elymus virginicus
53 : 204: Worms Persicaria amphibia
61 : 204: Worms Scutellaria galericulata
74 : 204: Worms Prunella vulgaris
0 : 204: Worms Apocynum cannabinum
38 : 200: Worms Castor canadensis
11 : 200: Worms Tanacetum vulgare
1 : 204: Worms Scutellaria lateriflora
91 : 200: Worms Larus argentatus
94 : 200: Worms Eleocharis uniglumis
5 : 204: Worms Sium suave
20 : 200: Worms Xanthium strumarium
22 : 204: Worms Hylotelephium telephium
60 : 204: Worms Hypericum perforatum
9 : 200: Worms Typha latifolia
115 : 200: Worms Carex
39 : 204: Worms Betula papyrifera
99 : 200: Worms Ruppia maritima
21 : 200: Worms Senecio
112 : 200: Worms Eutrochium maculatum
15 : 200: Worms Scirpus
28 : 200: Worms Anthoxanthum odoratum
45 : 204: Worms Halerpestes cymbalaria
118 : 200: Worms Cichorium intybus
49 : 204: Worms Dasiphora fruticosa
27 : 204: Worms Viburnum opulus
24 : 200: Worms Agrostis gigantea
64 : 200: Worms Liliopsida
121 : 200: Worms Rumex
100 : 200: Worms Sonchus arvensis
54 : 200: Worms Osmunda spectabilis
129 : 200: Worms Onoclea sensibilis
82 : 200: Worms Chenopodium album
81 : 204: Worms Athyrium angustum
26 : 200: Worms Galium mollugo
3 : 204: Worms Hylaeus
55 : 200: Worms Rosa
71 : 200: Worms Schoenoplectus
7 : 204: Worms Berberis thunbergii
52 : 200: Worms Symphyotrichum
8 : 204: Worms Euphorbia maculata
19 : 200: Worms Lythrum salicaria
50 : 204: Worms Fraxinus pennsylvanica
25 : 204: Worms Crataegus
76 : 200: Worms Rosaceae
17 : 204: Worms Lycopus uniflorus
75 : 200: Worms Elodea canadensis
35 : 200: Worms Spergularia marina
23 : 200: Worms Leucanthemum vulgare
34 : 204: Worms Phalaris arundinacea
40 : 204: Worms Cornus sericea
33 : 200: Worms Schoenoplectus pungens
57 : 204: Worms Lysimachia terrestris
29 : 200: Worms Raphanus raphanistrum
37 : 204: Worms Argentina anserina
73 : 204: Worms Harmonia axyridis
56 : 200: Worms Megaceryle alcyon
10 : 200: Worms Jacobaea vulgaris
77 : 204: Worms Hypericum mutilum
4 : 200: Worms Tracheophyta
87 : 200: Worms Polistes fuscatus
66 : 200: Worms Cichorieae
107 : 200: Worms Osmunda claytoniana
108 : 204: Worms Mentha canadensis
106 : 204: Worms Cornus rugosa
69 : 200: Worms Schoenoplectus tabernaemontani
130 : 204: Worms Persicaria maculosa
131 : 200: Worms Calidris minutilla
142 : 204: Worms Rhagonycha fulva
102 : 200: Worms Asteraceae
103 : 200: Worms Lonicera
104 : 200: Worms Nuphar
123 : 204: Worms Thelypteris palustris
138 : 204: Worms Myrica gale
136 : 200: Worms Plantago
137 : 200: Worms Plantago major
144 : 200: Worms Myriophyllum spicatum
132 : 200: Worms Tussilago farfara
127 : 204: Worms Reynoutria japonica
139 : 200: Worms Sagittaria latifolia
89 : 200: Worms Ulva intestinalis
124 : 200: Worms Stuckenia pectinata
111 : 200: Worms Eleocharis palustris
119 : 204: Worms Oxybasis rubra
116 : 204: Worms Sorbus
113 : 204: Worms Echinocystis lobata
143 : 200: Worms Poaceae
125 : 200: Worms Cyperaceae
134 : 200: Worms Vicia
109 : 200: Worms Senecio viscosus
117 : 200: Worms Cirsium
128 : 200: Worms Tanacetum
140 : 204: Worms Alnus incana

          Dataset Values  Validation Database values                           \
          scientificName Exact_Match         TaxonID    Status Unacceptreason
127          Acer rubrum      Non/No
80     Acorus americanus      Non/No
115      Alisma triviale      Non/No
49      Alnus alnobetula      Non/No
33          Alnus incana      Non/No
..                   ...         ...             ...       ...            ...
38     Ulva intestinalis     Oui/Yes          234471  accepted           None
21                 Vicia     Oui/Yes          416135  accepted           None
73          Vicia cracca     Oui/Yes         1492127  accepted           None
4    Xanthium strumarium     Oui/Yes         1092089  accepted           None
100              Zizania     Oui/Yes         1435876  accepted           None

                                                   \
    Taxon_Rank Valid_TaxonID           Valid_Name
127
80
115
49
33
..         ...           ...                  ...
38     Species        234471    Ulva intestinalis
21       Genus        416135                Vicia
73     Species       1492127         Vicia cracca
4      Species       1092089  Xanthium strumarium
100      Genus       1435876              Zizania


                                           LSID
127
80
115
49
33
..                                          ...
38    urn:lsid:marinespecies.org:taxname:234471
21    urn:lsid:marinespecies.org:taxname:416135
73   urn:lsid:marinespecies.org:taxname:1492127
4    urn:lsid:marinespecies.org:taxname:1092089
100  urn:lsid:marinespecies.org:taxname:1435876

[145 rows x 9 columns]

In [19]:
table2

         Ref. ID                Validation                              \
    occurrenceID scientificName_Validation scientificNameID_Validation
0       ABCD-001                    Non/No                      Non/No
1       ABCD-002                    Non/No                      Non/No
3       ABCD-004                    Non/No                      Non/No
5       ABCD-006                    Non/No                      Non/No
11      ABCD-012                    Non/No                      Non/No
..           ...                       ...                         ...
288     ABCD-289                   Oui/Yes                     Oui/Yes
290     ABCD-291                   Oui/Yes                     Oui/Yes
294     ABCD-295                   Oui/Yes                     Oui/Yes
296     ABCD-297                   Oui/Yes                     Oui/Yes
299     ABCD-300                   Oui/Yes                     Oui/Yes

              Dataset Values                                              \
              scientificName                            scientificNameID
0       Phalaris arundinacea            urn:lsid:itis.gov:itis_tsn:41335
1    Sporobolus michauxianus          urn:lsid:ipni.org:names:77145291-1
3             Oxybasis rubra          urn:lsid:ipni.org:names:77121013-1
5           Linaria vulgaris            urn:lsid:itis.gov:itis_tsn:33216
11    Halerpestes cymbalaria                                         NaN
..                       ...                                         ...
288           Schoenoplectus   urn:lsid:marinespecies.org:taxname:382429
290                     Rosa   urn:lsid:marinespecies.org:taxname:425714
294        Tussilago farfara   urn:lsid:marinespecies.org:taxname:594804
296                   Galium   urn:lsid:marinespecies.org:taxname:993892
299               Cichorieae  urn:lsid:marinespecies.org:taxname:1074862

       Database values
            Valid_Name                                        LSID
0
1
3
5
11
..                 ...                                         ...
288     Schoenoplectus   urn:lsid:marinespecies.org:taxname:382429
290               Rosa   urn:lsid:marinespecies.org:taxname:425714
294  Tussilago farfara   urn:lsid:marinespecies.org:taxname:594804
296             Galium   urn:lsid:marinespecies.org:taxname:993892
299         Cichorieae  urn:lsid:marinespecies.org:taxname:1074862

[301 rows x 7 columns]

In [20]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')

4 : 200: Worms Tracheophyta
13 : 200: Worms Elymus virginicus
0 : 204: Worms Apocynum cannabinum
27 : 204: Worms Viburnum opulus
17 : 204: Worms Lycopus uniflorus
30 : 200: Worms Bidens
20 : 200: Worms Xanthium strumarium
69 : 200: Worms Schoenoplectus tabernaemontani
8 : 204: Worms Euphorbia maculata
7 : 204: Worms Berberis thunbergii
16 : 204: Worms Persicaria sagittata
3 : 204: Worms Hylaeus
5 : 204: Worms Sium suave
6 : 200: Worms Juncus
26 : 200: Worms Galium mollugo
10 : 200: Worms Jacobaea vulgaris
24 : 200: Worms Agrostis gigantea
14 : 204: Worms Pastinaca sativa
28 : 200: Worms Anthoxanthum odoratum
11 : 200: Worms Tanacetum vulgare
19 : 200: Worms Lythrum salicaria
25 : 204: Worms Crataegus
29 : 200: Worms Raphanus raphanistrum
15 : 200: Worms Scirpus
44 : 200: Worms Vicia cracca
22 : 204: Worms Hylotelephium telephium
23 : 200: Worms Leucanthemum vulgare
1 : 204: Worms Scutellaria lateriflora
80 : 204: Worms Alnus alnobetula
70 : 204: Worms Matteuccia struthiopteris
21 : 200: Worms Senecio
63 : 200: Worms Bryophyta
2 : 200: Worms Doellingeria umbellata
18 : 204: Worms Alisma triviale
46 : 200: Worms Thuja occidentalis

In [21]:
table3

          Dataset Values  Validation Database values                           \
          scientificName Exact_Match         TaxonID    Status Unacceptreason
127          Acer rubrum      Non/No
80     Acorus americanus      Non/No
115      Alisma triviale      Non/No
49      Alnus alnobetula      Non/No
33          Alnus incana      Non/No
..                   ...         ...             ...       ...            ...
72     Tanacetum vulgare     Oui/Yes          993749  accepted           None
109   Thuja occidentalis     Oui/Yes         1634575  accepted           None
106         Tracheophyta     Oui/Yes          596326  accepted           None
73          Vicia cracca     Oui/Yes         1492127  accepted           None
4    Xanthium strumarium     Oui/Yes         1092089  accepted           None

                                                           \
            Taxon_Rank Valid_TaxonID           Valid_Name
127
80
115
49
33
..                 ...           ...                  ...
72             Species        993749    Tanacetum vulgare
109            Species       1634575   Thuja occidentalis
106  Phylum (Division)        596326         Tracheophyta
73             Species       1492127         Vicia cracca
4              Species       1092089  Xanthium strumarium


                                           LSID
127
80
115
49
33
..                                          ...
72    urn:lsid:marinespecies.org:taxname:993749
109  urn:lsid:marinespecies.org:taxname:1634575
106   urn:lsid:marinespecies.org:taxname:596326
73   urn:lsid:marinespecies.org:taxname:1492127
4    urn:lsid:marinespecies.org:taxname:1092089

[145 rows x 9 columns]

In [22]:
table4

         Ref. ID                Validation                       \
    occurrenceID scientificName_Validation taxonRank_Validation
0       ABCD-001                    Non/No               Non/No
1       ABCD-002                    Non/No               Non/No
2       ABCD-003                    Non/No               Non/No
3       ABCD-004                    Non/No               Non/No
5       ABCD-006                    Non/No               Non/No
..           ...                       ...                  ...
260     ABCD-261                   Oui/Yes              Oui/Yes
262     ABCD-263                   Oui/Yes              Oui/Yes
267     ABCD-268                   Oui/Yes              Oui/Yes
269     ABCD-270                   Oui/Yes              Oui/Yes
276     ABCD-277                   Oui/Yes              Oui/Yes

                                          Dataset Values            \
    scientificNameID_Validation           scientificName taxonRank
0                        Non/No     Phalaris arundinacea   Species
1                        Non/No  Sporobolus michauxianus   Species
2                        Non/No   Schoenoplectus pungens   Species
3                        Non/No           Oxybasis rubra   Species
5                        Non/No         Linaria vulgaris   Species
..                          ...                      ...       ...
260                     Oui/Yes                  Scirpus     Genus
262                     Oui/Yes             Vicia cracca   Species
267                     Oui/Yes        Lythrum salicaria   Species
269                     Oui/Yes    Anthoxanthum odoratum   Species
276                     Oui/Yes        Agrostis gigantea   Species

                                                       Database values  \
                               scientificNameID             Valid_Name
0              urn:lsid:itis.gov:itis_tsn:41335
1            urn:lsid:ipni.org:names:77145291-1
2             urn:lsid:itis.gov:itis_tsn:508146
3            urn:lsid:ipni.org:names:77121013-1
5              urn:lsid:itis.gov:itis_tsn:33216
..                                          ...                    ...
260   urn:lsid:marinespecies.org:taxname:431943                Scirpus
262  urn:lsid:marinespecies.org:taxname:1492127           Vicia cracca
267   urn:lsid:marinespecies.org:taxname:594786      Lythrum salicaria
269   urn:lsid:marinespecies.org:taxname:993846  Anthoxanthum odoratum
276   urn:lsid:marinespecies.org:taxname:993839      Agrostis gigantea


    Taxon_Rank                                        LSID
0
1
2
3
5
..         ...                                         ...
260      Genus   urn:lsid:marinespecies.org:taxname:431943
262    Species  urn:lsid:marinespecies.org:taxname:1492127
267    Species   urn:lsid:marinespecies.org:taxname:594786
269    Species   urn:lsid:marinespecies.org:taxname:993846
276    Species   urn:lsid:marinespecies.org:taxname:993839

[301 rows x 10 columns]

Try the check_scientificname_and_ids function - itis_usage:

In [ ]:
# function can take a few minutes to process with 'itis_usage = True'
# uncomment following line to test the 'itis_usage' parameter
#check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()